#loader span {
    font-size:50px;
    padding-bottom:30px;
}

#container {
    position: absolute;
    z-index:0;
    left: 0;
    top: 95px;
    bottom: 0;
    display: none;

    margin: 0px auto;
    width:100%;
    background-color: rgba(0,0,0,0.05);
    text-shadow: rgba(255, 255, 255, 0.45) 0px 1px 0px;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#message {
    position: absolute;
    z-index:0;
    left: 0;
    top: 95px;
    z-index:100;
    display: none;
    font-size:30px;
    line-height:40px;
    width:100%;
}

 #progressbar {
    width: 200px;
    margin: auto;
    display:none;
 }