

@pill-loc-color-start: rgba(0,100,0, 0.7);
@pill-loc-color-end: rgba(0,100,0, 0.9);
/* @pill-loc-color-start: rgba(255,60,0, 0.7); */
/* @pill-loc-color-end: rgba(255,69,0, 0.9); */

/* @pill-loc-color-start: rgba(34,139,34, 0.7); */
/* @pill-loc-color-end: rgba(34,139,34, 0.9); */

.page-header{
    font-weight: bold;
    text-shadow: rgba(25, 25, 25, 0.45) 0px -1px 0px;
    color: white;
    
    background-image: -moz-linear-gradient(90deg, rgba(25, 25, 25, 0.25), rgba(25, 25, 25, 0.45));
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(25, 25, 25, 0.25)), to(rgba(25, 25, 25, 0.45)));
    background-image: -moz-linear-gradient(90deg, @pill-loc-color-start, @pill-loc-color-end);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@pill-loc-color-start), to(@pill-loc-color-end));
}
.menu-item {
    float:left; 
    text-align: right;  
    padding: 8px 0 0 0;
}
.menu-item > a { 
    text-decoration: none; 
    width: 50px;
    color: inherit;
    text-align:center; 
    font-size: 14px;
    &:hover :not(:fist-child) {
        background-color:rgba(25, 25, 25, 0.25);
    }
}
.menu {
    padding: 8px 0 0 0;
    margin: 0 0 0 10px;
    display: inline-block;
}
.menu > li {
    display: inline;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
    border-radius: 3px;
/*     background-color: rgba(25, 25, 25, 0.30); */
    padding: 2px 5px 2px 5px;
    &:hover {
        background-color: rgba(25, 25, 25, 0.50);
    }
}
.menu > li > a {
    color: inherit;
    text-decoration:none;
}

#container {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 66px;*/
    /*bottom: 0;*/
    
    margin: 0px auto;
    width:100%;
    background-color: rgba(0,0,0,0.05);
    text-shadow: rgba(255, 255, 255, 0.45) 0px 1px 0px;
}

#delete_btn, #tourBtn, #cart-btn, #pseudonym { display:none; }


.dropdown {
    background-color: rgba(40, 40, 40, 1);
    z-index:999;
    position:absolute;
    top:0;
    width:430px;
    border-radius: 5px;
    border-top-right-radius: 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    opacity:1;
    padding: 10px;
    color: white;
}
.dropdown a {
    color: white;
    font-weight: bold;
    text-shadow: rgba(25, 25, 25, 0.45) 0px -1px 0px;
    text-decoration: none;
    &:hover {
        color: gray;
    }
}
    
#start-dropdown {
    width: 350px;
    right:20px;
    top:66px;
    color:white;
    padding-left:20px;
}
#start-dropdown > div > * {
    color:white;
}
#start-dropdown h2 {
    margin:0;
}


.header-title {
    text-align:right;
    width:100px;
    display: inline-block;
}

.menu-btn {
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-color: rgba(40, 40, 40, 0.50);
    
    text-shadow: rgba(255, 255, 0, 1) 0px 0px 2px;
    border-radius: 5px 5px 0 0;
    margin: 18px 10px 0 0;
    max-width:220px;
    padding: 7px 15px 5px 60px;
    text-align: left;
    float: right;
    cursor: pointer;
    &:hover {
        background-color: rgba(40, 40, 40, 1);
    }
    
}
.menu-btn-title {
    text-shadow: none;
}
.start-btn {
    font-size:20px;
    padding-left:15px;
    height: 36px;
}
.start-btn > div {
    margin-top: 10px;
}
#account-btn {
    background-image: url('/static/images/website/user_gray.png');
}

#context-btn {
    background-image: url('/static/images/website/outpost_gray.png');
}


.clicked {
/*     background-image: url('/static/images/website/user_green.png');  */
    background-color:rgba(40, 40, 40, 1);
    &:hover {
        background-color: rgba(40, 40, 40, 1);
    }
}

.logo {
    color:blue; 
    font-weight: bold;
    font-family:helvetica;
    color: black;
}
.logo:hover {
    text-decoration: none;
}


