#container {
    position: absolute;
    z-index:0;
    left: 0;
    top: 70px;
    bottom: 0;
    display: none;

    margin: 0px auto;
    width:100%;
    background-color: rgba(0,0,0,0.05);
    text-shadow: rgba(255, 255, 255, 0.45) 0px 1px 0px;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
 #progressbar {
    width: 200px;
    margin: auto;
 }