* {
    margin: 0;
    padding: 0;
}

body { 
    font-family:helvetica; 
    font-size:12px;
    margin: 0;
    padding: 0;
    /*width:480px;*/
    /*height:800px;*/
}

/*footer {
    padding:0;
    height: 15px;
    position: absolute;
    bottom:0;
    right:0;
    z-index:10;
    text-align:center;
    color: inherit;
    background-color:inherit;
}*/

div.mobile {
    padding:10px 0 20px 0;
    height: 15px;
    /*width:100%;*/
    text-align:center;
    color: gray;
    font-size:20px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    background-color:white;
}




#m-choices {
    /*background-color:white;*/
    /*position:absolute;*/
    /*top: 65px;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*margin-bottom:300px;*/

    /*overflow-y: scroll;*/
    /*-webkit-overflow-scrolling: touch;*/
    /*z-index: 10;*/
}
.closingpane {
    /*position: absolute;*/
    height:300px;
    /*bottom:0;*/
    background: #fff url('/static/images/website/edgeoflist.png') no-repeat 20px bottom;
    margin: auto;
}
.closingpane > button {
    width:350px;
    height:100px;
    margin: 195px 0 0 180px;
    font-size:35px;
}






#searchinput {
    font-size:18px;
    height: 28px;
    padding:0;
    margin:0;
    /*width: 100%;*/
}

#searchbox {
    padding:0;
    margin: 0 0 0px 0;
    display:none;
}



#map_canvas {
    position:absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    z-index: 1;
    /*width: 100%;*/
}



div.resultsTitle{
    padding: 20px 0 0 10px;
    font-size:60px;
    line-height:60px;
    color: gray;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
    display:none;
}

div#noFilters {
    display:none;
    background-color: rgba(0,0,0,0.2);
    text-shadow: 0 1px rgba(255, 255, 255, .5);
    padding:20px 40px 20px 40px;
    font-size:40px;
    line-height:60px;
}
div#noFilters > button {
    width:150px;
    height:90px;
    margin: 0 0 0 5px;
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}

/* ======== PERSON ========= */
person {
    display: block;
    font-size:60px;
    background: rgba(25, 25, 25, 0.15);
    background-image: -moz-linear-gradient(90deg, #dddddd, #aaaaaa);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#aaaaaa));
    line-height: 90px;

    border-radius:2px;
    background-color: rgba(250,250,250,0.4);
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    box-shadow:0px -1px 2px #333333;
}
person a { 
    margin: 0 0 0 5px;
    color: black; 
}
person a:hover { 
    text-decoration: none; 
    color:black;
}
person > button {
    font-size:60px ! important;
    float:right;
    height:90px;
    margin: 0 5px 0 0;
}


/* ======== ATTRIBUTE ========= */

attribute {
    display: block;
    font-size:90px;
    margin: 20px 0 20px 0;
    background: rgba(25, 25, 25, 0.15);
    background-image: -moz-linear-gradient(90deg, #aaa, #ddd);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaa), to(#ddd));
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.5);
    line-height: 90px;
}
attribute a { color: black; }
attribute a:hover { 
    text-decoration: none; 
    color:black;
}

attribute > a.keypart {
    /*width: 100%;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    /*max-width:480px;*/

    display: block;
    text-shadow: 0 1px rgba(255, 255, 255, .7);
    padding: 5px 0px 0px 0px;
    margin: 0 0 0 5px;
    background-color: rgba(255,255,255,0.01);
}
attribute > a.keypart > span.count {
    display:inline-block;
    color: white;
    background-color:#ff2244;
    line-height:90px;
    padding: 0px 10px 0px 10px;
    text-align:center;
    text-shadow: 0px -2px 0px rgba(0,0,0,0.5);
    border-radius: 3px;
}
attribute > form > input {
    height:70px;
    width:50%;
    font-size:60px;
    line-height:60px;
    margin: 0 0 10px 10px;
}
/* ======== VALPART ========= */

/*attribute > div.valpart {
    line-height:20px;
    margin: 0 0 0 5px;
    display: none;
}
attribute > div.valpart > div.valcontainer {
    float:left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;

    font-size:20px;
    border-radius:2px;
    background-color: rgba(255,255,255,0.5);
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 0px 0;
    box-shadow:0px -1px 2px #333333;
}
attribute > div.valpart > div.valcontainer > a > span.value {
    color:rgba(0,0,0,0.5);
}
attribute > div.valpart > div.valcontainer > a > span.count {
    color: white;
    background-color:#ff2244;
    padding: 1px 5px;
    text-shadow: 0 0px 1px #fff;
    border-radius: 3px;
    background-color:rgba(255,0,0,0.3);
}*/

/* ======== VALPART DETAILED ========= */

attribute > div.valpartdetailed {
    line-height:90px;
    margin: 0 0 0 5px;
    padding: 0 0 5px 0;
}
attribute > div.valpartdetailed > div.valcontainer {
    font-size:60px;
    border-radius:2px;
    background-color: rgba(250,250,250,0.4);
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 0px 0;
    box-shadow:0px -1px 2px #333333;
    /*max-width:480px;*/
}
attribute > div.valpartdetailed > div.valcontainer > button {
    float:right;
    width:150px;
    height:90px;
    margin: 0 0 0 5px;
    font-size:60px;
}
attribute > div.valpartdetailed > div.valcontainer > button#searchBtn {
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}
attribute > div.valpartdetailed > div.valcontainer > a > div.value {
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    max-width:560px;
}
attribute > div.valpartdetailed > div.valcontainer > a > span.count {
    display:inline-block;
    color: white;
    background-color:#ff2244;
    line-height:60px;
    padding: 0px 10px 0px 10px;
    text-align:center;
    text-shadow: 0px -2px 0px rgba(0,0,0,0.5);
    border-radius: 3px;
}

/* ========================================= */

/*span.count {
    color: white;
    background-color:#ff2244;
    padding: 1px 5px;
    text-shadow: 0 0px 1px #fff;
    border-radius: 3px;
}*/

div#controls {
    display:none;
    position: absolute;
    z-index:1000;
    top:0;
    width:100%;
    height:90px;
    background-color:gray;

    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.5);

    text-align:center;
    color:white;
    font-size:60px;
    line-height:60px;
}

div#controls button {
    font-size:60px;
}

div.controlFilters {
    position:absolute;
    left:5px;
    top:5px;
}
div.controlSorters {
    position:absolute;
    right:5px;
    top:5px;
}
div.btn-group > button {
    height: 80px;
    width: 180px;
}
div#controls > div.secondOrder {
    position:absolute;
    right:10px;
    top:30px;
    height: 90px;
}
div#controls > button {
    position:absolute;
    right:5px;
    top:5px;
    height: 80px;
    display:none;
    font-size:40px;
}
div#controls > button#cancelMessageBtn {
    position:absolute;
    left:5px;
    right:inherit;
    top:5px;
    height: 80px;
    display:none;
    font-size:40px;
}
div#controls > button#backBtn {
    position:absolute;
    left:5px;
    right:inherit;
    top:5px;
    height: 80px;
    display:none;
    font-size:40px;
}
div#controls span.badge {
    position: absolute;
    right:5px;
    top:5px;
    display: none;
    font-size:30px;
    line-height:30px;
    height:32px;
}

div#controls > div#profileinfo {
    position: absolute;
    right:15px;
    top:15px;
    display:none;
    text-shadow: #000 0px -1px 1px;
    height:80px;
    line-height:80px;
    /*background-color: yellow;*/
}
div#controls > div#profileinfo > img{
    width: 80px;
    padding-bottom:30px;
}

/*############# LOGIN #############*/
form.account {
    background-color: rgba(220,220,220,1);
    width:400px;
    margin: auto;
    /*padding-top:30px;*/
}
form.account > label {
    line-height:40px;
    font-size:40px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9);
    width:300px;
    margin:auto;
}
form.account > label.note {
    font-size:20px;
    line-height:20px;
}
form.account > input {
    display:block;
    margin: 10px auto;
    font-size:30px;
    line-height:40px;
    height:40px;
    width:300px;
}
form.account.login {
    height:170px;
}
form.account.create {
    padding-top:30px;
}

div.account#divider {
    position:absolute;
    top:187px;
    width:100%;
    text-align:center;
}
div.account#divider > span{
    display:inline-block;
    font-size:40px;
    line-height:40px;
    background-color: rgba(220,220,220,1);
    text-align:center;
    width:100px;
    color:gray;
}
div.account.alert{
    position:absolute;
    top:0px;
    width:100%;
    display:none;
    text-align:center;
    font-size:30px;
    line-height:50px;
    height:50px;
}

/*############# SEND MESSAGE #############*/
form.sendMessage {
    text-align:center;
}
form.sendMessage > textarea {
    display:block;
    margin: 10px auto;
    height:400px;
    width:90%;
    font-size:30px;
}
form.sendMessage > div {
    /*display:block;*/
    margin: auto;
    font-size:40px;
    line-height:40px;
}
form.sendMessage > div > span {
    font-size:inherit;
}
form.sendMessage > label > input {
    line-height: 40px;
    margin: 15px 20px 0 0;
    -webkit-transform: scale(3,3);
    -moz-transform: scale(3,3);
}

form.sendMessage .selectedAttr {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

div.sendMessage {
    position:absolute;
    top:0px;
    width:100%;
    display:none;
    text-align:center;
    font-size:30px;
    line-height:50px;
    height:50px;
}

/*############# PROFILE #############*/

profile > div#header {
    background-color: rgba(0,0,0,0.3);
    font-size:40px;
    line-height:40px;
    height:50px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    padding: 10px;
}

/*############# NEW ATTRIBUTE #############*/

newattribute > div {
    margin: auto;
    width: 700px;
}
newattribute > div > form > div.title {
    background-color: rgba(0,0,0,0.2);
}
newattribute > div > form > div.value {
    background-color: rgba(0,0,0,0.2);
}
newattribute > div > form > div > label {
    font-size:40px;
    line-height:40px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9);
}
newattribute > div > form > div > input {
    display:block;
    font-size:40px;
    line-height:40px;
    height:50px;
    width:400px;
    /*margin: auto;*/
}





