* {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}
body { 
    font-family:helvetica; 
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.1);
}

@asideWidth: 260px;
#full, #container {
    position: absolute;
    z-index:0;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 0;
    padding: 0;
    text-shadow: rgba(255, 255, 255, 0.45) 0px 1px 0px;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
#full {
    background-color: #eee;
    display: none;
}
#container {
    pointer-events: none;
}
#container > div#mapOverlay {
    padding-right: @asideWidth;
}
#container > div#mapOverlay > button#addLocation {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    padding: 10px;
    pointer-events: all;
    box-shadow: 0 0 100px black;
}

div#login {
    position: absolute;
    z-index: 1050;
    top: 37px;
    right: 0;
    display: none;
    padding: 10px;
    width: 200px;
    background-color: rgba(80,80,80,1);
    border-radius: 5px 0 5px 5px;
    color: white;
}
div#login > div.title {
    font-weight: bold;
    font-size: 18px;
    text-shadow: 0 -1px black;
    margin: 0 0 10px 0;
}
div#login > form {
    margin: 0;
}
div#login > form > input {
    display: block;
    width: 190px;
    margin: 5px auto;
}
div#login > div.footer {
    line-height: 28px;
}
div#login > div.footer > a {
    color: inherit;
}
div#login > div.footer > a:hover {
    text-decoration: underline;
}
div#login > div.footer > button {
    float: right;
}
div#login > div.footer > img {
    display: none;
}

@popupWidth: 400px;
div#popup {
    /*position: absolute;*/
    /*left: 50%;*/
    width: @popupWidth;
    margin: 60px auto;
    background-color: rgba(60,60,60,0.8);
    pointer-events: all;
    padding: 5px;
    display: none;
}
.transparent {
    background-color: rgba(60,60,60,0) ! important;
    pointer-events: none ! important;
}
div#popup > div.header {
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    color: white;
    padding: 5px;
    text-shadow: 0 -1px black;
}

aside {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: @asideWidth;
    padding: 10px 5px 5px 5px;
    
    pointer-events: all;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
aside > div.asideEntry {
    width: @asideWidth;
}
aside > div.asideEntry > a.asideKey {
    color: rgba(50,50,50,0.8);
    display: block;
    position: relative;
    height: 25px;
    
    padding: 5px;
    font-size: 22px;
    line-height: 22px;
    border-radius: 5px;
}
aside > div.asideEntry > a.asideKey:hover {
    /*text-decoration: none;*/
    cursor: pointer;
    color: rgba(0,0,0,0.5);
}
aside > div > a.highlighted {
    background-color: rgba(0,0,0,0.2);
    background-color: rgba(255, 207, 121,0.8);
    background-color: rgba(153, 204, 255, 0.9);
    
    background-color: rgba(0, 51, 102, 0.9);
    color: white ! important;
    text-shadow: 0 1px rgba(255,255,255,0.5);
    text-shadow: 0 -1px rgba(150,150,150,0.5);
}
aside > div.asideEntry > a.asideKey > div.title {
    position: absolute;
    left:5px;
}
aside > div.asideEntry > a.asideKey > i {
    position: absolute;
    top: 10px;
    right:5px;
}





/*div.fullscreen {
    padding:0 ! important;
    position: absolute;
    left:0;
    right:0;
    top:0 ! important;
    bottom:0 ! important;
}*/
div.noTitleTransform {
    text-transform:none ! important;
}

#message {
    position: absolute;
    z-index:0;
    left: 0;
    top: 95px;
    z-index:100;
    display: none;
    font-size:30px;
    line-height:40px;
    width:100%;
}

 #progressbar {
    width: 200px;
    margin: auto;
    display:none;
 }


@height-9: 100px;
@height-8: 90px;
@height-7: 80px;
@height-6: 60px;
@height-5: 50px;
@height-4: 40px;
@height-3: 35px;
@height-2: 30px;
@height-1: 20px;



.height (@h: 60px) {height: @h/2;}


.font-1  { font-size:@height-8; line-height:@height-8; }
.font-12 { font-size:@height-7; line-height:@height-7; }
.font-2  { font-size:@height-6; line-height:@height-6; }
.font-3  { font-size:@height-4; line-height:@height-4; }
.font-s1 { font-size:@height-2; line-height:@height-2; }
.font-s2 { font-size:@height-1; line-height:@height-1; }


/*############# PARAMS end #############*/

/*
div.mobile {
    padding:10px 0 20px 0;
    height: 15px;
    text-align:center;
    color: gray;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    background-color:white;
}

div.controlFilters {
    height:@height-6;
    margin:5px;
}
div.controlFilters > button {
    height: 60px;
    width:180px;
    font-size:30px;
}
div.controlFilters > button > span.badge {
    .font-s1;
    position: absolute;
    right:5px;
    top:5px;
    display: none;
    height:32px;
}

div.scrollableContainer {
    position:absolute;
    top: 70px;
    bottom:0;
    left:0;
    right:0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


div.scrollableContainer > div.closingpane {
    height:300px;
    background: #fff url('/static/images/website/edgeoflist.png') no-repeat 20px bottom;
    margin: auto;
}
div.scrollableContainer > div.closingpane > button {
    .font-2;
    height:100px;
    margin: 195px 0 0 180px;
}
*/




div.resultsTitle{
    .font-2;
    padding: 20px 0 0 10px;
    line-height:60px;
    color: gray;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
    display:none;
}

div#noFilters {
    display:none;
    background-color: rgba(0,0,0,0.2);
    text-shadow: 0 1px rgba(255, 255, 255, .5);
    padding:20px 40px 20px 40px;
    .font-3;
}
div#noFilters > button {
    width:150px;
    height:@height-8;
    margin: 0 0 0 5px;
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;
}



/*############# LOGIN #############*/

/*div.login.alert{
    .font-s1;
    position:absolute;
    top:0px;
    width:100%;
    display:none;
    text-align:center;
    height:50px;
}*/


.anime {
    -webkit-transform: scale(2);
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
}

.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv; /*IE*/
}
.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph; /*IE*/
}


/*############# SEND MESSAGE #############*/
form.sendMessage {
    text-align:center;
}
form.sendMessage > textarea {
    .font-s1;
    display:block;
    margin: 10px auto;
    height:400px;
    width:90%;
    /*line-height:30px;*/
}
form.sendMessage > div {
    .font-3;
    margin: auto;
    /*line-height:40px;*/
}
form.sendMessage > div > span {
    
}
form.sendMessage > label > input {
    /*line-height: 40px;*/
    margin: 15px 20px 0 0;
    -webkit-transform: scale(3,3);
    -moz-transform: scale(3,3);
}

form.sendMessage .selectedAttr {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

div.sendMessage {
    .font-s1;
    position:absolute;
    top:0px;
    width:100%;
    display:none;
    text-align:center;
    /*line-height:50px;*/
    height:50px;
}

/*############# PROFILE #############*/

profile > div#header {
    .font-3;
    background-color: rgba(0,0,0,0.3);
    /*line-height:40px;*/
    height:50px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    padding: 10px;
}

/*############# NEW ATTRIBUTE #############*/

newattribute {
    margin: auto;
    width: 700px;
    display: block;
}
newattribute > form {
    display: none;
}
newattribute > form > div > div#forkey {
    .font-3;
    line-height:@height-8;
}
newattribute > form > div.title {
    background-color: rgba(0,0,0,0.2);
}
newattribute > form > div.value {
    background-color: rgba(0,0,0,0.2);
}
newattribute > form > div > label {
    .font-3;
    text-shadow: 0 1px rgba(255, 255, 255, 0.9);
}
label.small {
    font-size:20px;
    line-height:20px;
}
newattribute > form > div > input {
    .font-3;
    display:block;
    /*line-height:40px;*/
    height:50px;
    width:400px;
}

div#suggestions > label {
    display:none;
}
div#suggestions > div#autocomplete > a.suggestion {
    color:#555;
    display:block;
    padding:5px;
    .font-3;
}
div#suggestions > div#autocomplete > a.suggestion:hover {
    text-decoration:none;
}


/*############# FRONT PAGE #############*/

/*div#welcome {
    
}
div#welcome > a {
    display: block;
    font-size:40px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    line-height:50px;
    margin:10px;
    width:300px;
    border-radius:5px;
}
div#welcome > a:hover {
    text-decoration:none;
}
*/

/*############# FOOTER #############*/

footer {
    position: absolute;
    bottom:0;
    left:0;
    padding: 1px 5px 0px 5px;
    background-color:rgba(60,60,60,0.9);
    color: rgba(255,255,255,0.5);
    text-shadow: rgba(0,0,0, 0.8) 0px -1px 0px;
}
footer > a { color: rgba(255,255,255,0.8); }
footer > a:hover {
    /*text-decoration: none;*/
    color: white;
}

/*############# ACCOUNT #############*/

div.accountentry {
    margin:10px;
    padding:10px;
    border-radius:5px;
    background-color:rgba(220,220,220,1);
    /*font-size:@height-1;*/
    /*line-height:@height-1;*/

}
div.account.buttons {
    text-align:center;
    background-color:none;
}
button.account {
    width:180px;
    /*height:50px;*/
    font-size: 14px;
    font-weight: bold;
}


/*############# CONTEXTS #############*/

div#contexts > div#contextEntry {
    .font-3;
    min-height:@height-7;
    border: 1px solid gray;
    position:relative;
}
div#contexts > div#contextEntry > a {
    position: absolute;
    top:5px;
    left:5px;
    right:0;
    color:#333;
    text-shadow: 0px 1px 0px #fff;
}
div#contexts > div#contextEntry > a:hover {
    text-decoration:none;
}
div#contexts > div#contextEntry > a > div {
    float:left;
    margin: 0 5px 0 0;
}
div#contexts > div#contextEntry > a > div.count {
    color: white;
    background-color:#ff2244;
    padding: 0px 10px 0px 10px;
    text-align:center;
    text-shadow: 0px -2px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 1px rgba(0,0,0,0.5);
    border-radius: 3px;
    height:70px;
    line-height:50px;
}
div#contexts > div#contextEntry > a > div.count > span.cno {
    display:block;
}
div#contexts > div#contextEntry > a > div.count > span.caption{
    display:block;
    font-size:12px;
    line-height:12px;
}

div#contexts > div#contextEntry > a > div.details {
    margin-left: 5px;
}
div#contexts > div#contextEntry > a > div.details > span.name {
    display:block;
}
div#contexts > div#contextEntry > a > div.details > span.description {
    margin-top:5px;
    .font-s2;
    display:block;
    color:gray;
}
div#contexts > div#contextEntry > button#actionBtn {
    .font-3;
    position:absolute;
    right:5px;
    top:5px;
}

newcontext {
    margin: auto;
    width: 620px;
    display: block;
}
newcontext > form > * {
    .font-s1;
    line-height:@height-6;
    height:@height-6;
    width: 620px;
    
}
newcontext > form > textarea {
    .font-s2;
    height:100px;
}
newcontext > form > label {
    line-height:@height-4;
    padding: 20px 0 0 0;
    height:@height-4;
}
newcontext > div#attributes {
    padding: 20px 0 0 0;
    display:none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
newcontext > div#attributes > div#buttons {
    position: relative;
    height:@height-4;
}
newcontext > div#attributes > div#buttons > span.counter {
    float:right;
}
newcontext > div#attributes > div#buttons > button {
    display:inline-block;
}
newcontext > div#attributes > div#attrList {
    border: 1px solid #ccc;
    border-radius:5px;
    padding:10px;
}
newcontext > div#attributes > div#attrList > a {
    margin: 10px 0 5px 0;
    display: block;
    position:relative;
    height:@height-2;
    .font-s2;
    color:gray;
}
newcontext > div#attributes > div#attrList > a:hover {
    text-decoration:none;
}
newcontext > div#attributes > div#attrList > a > i {
    position:absolute;
    left:5px;
    top:10px;
}
newcontext > div#attributes > div#attrList > a > div.value {
    position:absolute;
    left:10px;
    top:5px;

    margin: 0 0 0 20px;
    float:left;
}
newcontext > div#attributes > div#attrList > a > div.value > b {
    margin-left:20px;
}
.borderSelection {
    outline: 1px solid gray;
    box-shadow: 0px 0px 2px 2px gray;
}




















@wizardWidth: 400px;
div.pickLocation {
    position: absolute;
    left: 0;
    top: 40px;
    right: 0;
    bottom: 0;

    height:530px;
    width:@wizardWidth;

    left:50%;
    margin: 10px 0 0 -@wizardWidth/2;
    padding:10px;
    
    text-align: center;
    pointer-events: none;
    color: rgba(0,0,0,0.8);

    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.15);
}

div.pickLocation > div.wizardPage {
    height:440px;
    margin:auto;
}

div.pickLocation div.caption {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin: 0px auto 5px auto;
    padding:5px;

    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 100px black;

    border-radius:5px;
}
div.pickLocation div.caption > div#tip {
    padding:5px;
    font-size: 13px;
    line-height: 13px;
}


div.pickLocation > div.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0 10px 0;
    pointer-events: all;
}
div.pickLocation > div.buttons > button {
    box-shadow: 0 0 100px black ! important;
    width: 120px;
}

div.pickLocation div.box {
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    padding: 5px;
}

div.pickLocation > div.wizardPage { display:none; }
div.pickLocation > div#page1 { display:block; }

div.pickLocation > div#page1 > div#crosshair {
    margin: 20px auto ;
    width: 20px;
    
    padding: 150px;
    border: 5px dotted rgba(255,0,0,0.5);
    border-radius: 300px;

    text-align:center;
    color: rgba(255,0,0,0.5);
    font-size: 40px;
    box-shadow: 0 0 100px black;
}
div.pickLocation > div#page1 > div#tip {
    padding:5px;

    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 50px black;
    font-weight: bold;
    text-align: center;
    border-radius:5px;
}
div.pickLocation > div#page1 > input#location {
    padding:5px;

    /*background-color: rgba(255,255,255,0.9);*/
    box-shadow: 0 0 50px black;
    font-weight: bold;
    border-radius:5px;
    pointer-events: all;
}




div.pickLocation > div#page2 > div.caption {
    margin-top: 20px;
}
div.pickLocation > div#page2 input,textarea,select {
    width: @wizardWidth - 30;
    margin: 0 50px 0 0;
    
    font-size:20px;
    line-height: 20px;
    pointer-events: all;
}
div.pickLocation > div#page2 input{
    height:24px;
}
div.pickLocation > div#page2 input[type=number],select {
    width:40%;
    margin:0;
}



/************ LOCATION PICKER **************/

div.locationPicker {
    position: relative;
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/

    /*height:530px;*/
    width:@wizardWidth;

    /*left:50%;*/
    /*margin: 10px 0 0 -@wizardWidth/2;*/
    padding:10px;
    
    text-align: center;
    pointer-events: none;
    color: rgba(0,0,0,0.8);
    background: 10px 10px url(/static/images/hole.png?2); 
    /*background-color: rgba(0,0,0,0.1);*/
    border: 1px solid rgba(0,0,0,0.15);
}
div.locationPicker > div.wizardPage {
    height:440px;
    margin:auto;
}
div.locationPicker div.caption {
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    margin: 0px auto 5px auto;
    padding:5px;

    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 100px black;

    border-radius:5px;
}
div.locationPicker div.caption > div#tip {
    padding:5px;
    font-size: 13px;
    line-height: 13px;
}
div.locationPicker > div.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0 10px 0;
    pointer-events: all;
}
div.locationPicker > div.buttons > button {
    box-shadow: 0 0 100px black ! important;
    width: 120px;
}
div.locationPicker > div.wizardPage > div#crosshair {
    margin: 20px auto ;
    width: 20px;
    
    padding: 150px;
    border: 5px dotted rgba(255,0,0,0.5);
    border-radius: 300px;

    text-align:center;
    color: rgba(255,0,0,0.5);
    font-size: 40px;
    box-shadow: 0 0 100px black;
}
div.locationPicker > div.wizardPage > form > input#locationinput {
    width: @wizardWidth - 10;
    padding:5px;
    box-shadow: 0 0 50px black;
    font-weight: bold;
    border-radius:5px;
    pointer-events: all;
}




/*************   VALCONTAINER  ***************/

@valueHeight: 36px;
div.valcontainer {
    position: relative;
    max-height: @valueHeight;
    background-color: rgba(0,0,0,0.7);
    margin-top: 10px;
    border: 1px solid rgba(200,200,200,0.6);
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    -webkit-transition: max-height 0.4s ease-in-out;
    -o-transition: max-height 0.4s ease-in-out;
    -moz-transition: max-height 0.4s ease-in-out;
    transition: max-height 0.4s ease-in-out;
}
div.expand {
    max-height: 2000px;
    -webkit-transition: max-height 0.4s ease-in-out;
    -o-transition: max-height 0.4s ease-in-out;
    -moz-transition: max-height 0.4s ease-in-out;
    transition: max-height 0.4s ease-in-out;
}
/*div.valcontainer:last-child { margin-bottom: 0; }*/
div.valcontainer > a {
    display: block;
}
div.valcontainer > a:hover { text-decoration: none; }
div.valcontainer > a > span.count {
    display:inline-block;
    color: white;
    background-color:#ff2244;
    box-shadow: 0px 3px 1px rgba(0,0,0,0.5);
    padding: 5px;
    text-align:center;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.6);
    border-radius: 3px;
}
div.valcontainer > a > span.count > div.cno {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}
div.valcontainer > a > span.count > div.caption{
    font-size: 10px;
    line-height: 10px;
}
div.valcontainer > a > span.value {
    display: inline-block;
    font-size: 20px;
    line-height: 36px;
    height: 36px;
    color: white;
    text-shadow: 0 -1px rgba(0,0,0,0.8);
}
div.valcontainer > div.btn-group {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 36px;
    font-weight: bold;
    font-size: 16px;
}



div#matches {
    border-top: 1px solid rgba(200,200,200,0.3);
}
a.userMatch {
    display: inline-block;
    color: white;
    text-shadow: 0 -1px black;
    text-align: center;
    background-color: rgba(150,150,150,1);
    border-radius: 2px;
    padding: 5px;
    width: 50px;
    height: 40px;
    margin-top: 5px;
}
a.userMatch:hover { 
    /*text-decoration: none;*/
    background-color: rgba(150,150,150,0.8);
}
a.userMatch > div.username { 
    display: block;
    text-overflow: clip;
    /*-o-text-overflow: ellipsis;*/
    /*-webkit-text-overflow: ellipsis;*/
    overflow: hidden;
}







div#map_canvas {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: @asideWidth + 10;
}
div.infobox {
    width:350px;
    /*height:100px;*/
    /*background-color: rgba(60,60,60,0.8);*/
}
div.infobox > div.title {
    height: 22px;
    padding: 5px 0 5px 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
}
div.infobox > div.title > div.titleKey {
    float: right;
    color: gray;
}
div.infobox > div.title > div.titleVal {
    float: left;
}
div.infobox > div.body > div.tools {
    height: 30px;
    line-height: 30px;
}
div.infobox > div.body > div.tools > button {
    margin: 1px 0 1px 0;
    float: right;
}




div#navbar {
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #717171;
    background-image: -moz-linear-gradient(top, #828282, #575757);
    background-image: -ms-linear-gradient(top, #828282, #575757);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#828282), to(#575757));
    background-image: -webkit-linear-gradient(top, #828282, #575757);
    background-image: -o-linear-gradient(top, #828282, #575757);
    background-image: linear-gradient(top, #828282, #575757);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .1);
}
div#navbar .brand {
    font-weight: bold;
    color: rgba(220,220,220,0.9);
    text-shadow: 0 -1px 0 black;
    
    font-size: 24px;
    line-height: 40px;
    margin: 0 0 0 50px;
    padding-top: 0 ! important;
    padding-bottom: 0 ! important;
}
div#navbar ul {
    position: absolute;
    right: 50px;
    display: inline-block;
    list-style-type: none;
}
div#navbar ul > li {
    float: right;
    line-height: 40px;
    /*margin: 0 10px 0 10px;*/

}
div#navbar ul > li.authed {
    display: none;
}
div#navbar ul > li.authed > a {
    background-color: rgba(80,80,80,0.8);
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px 20px 10px 20px;
}
div#navbar ul > li.noauth {
    display: none;
}

div#navbar > ul > li > a {
    color: rgba(255,255,255,0.9) ! important;
    text-shadow: 0 -1px black;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}
div#navbar > ul > li > a.highlighted {
    background-color: rgba(80,80,80,1);
    border-radius: 0;
}
div#navbar > ul > li > a:hover {
    /*color: rgba(255,255,255,0.9) ! important;*/
    background-color: rgba(255,255,255,0.2);
    /*text-decoration: none;*/
}
div#navbar > ul > li > a.highlighted:hover {
    background-color: rgba(80,80,80,1);
}
div#navbar a.context {
    display: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 20px;
    border: 1px solid rgba(200,200,200,0.6);
    border-radius: 5px;
    padding: 4px 10px 4px 10px;
    margin: 5px 0 5px 20px;
    background-color: rgba(20,20,20,0.5);
}
div#navbar a.context:hover { 
    /*text-decoration: none; */
    background-color: rgba(20,20,20,0.3);   
}



div#modal {
    display: none;
    position: absolute;
    z-index: 1200;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(20,20,20,0.5);
}
div#modal > div.box {
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255,255,255,1);
    margin: 50px auto;
    width: 400px;
    font-size: 14px;
    font-weight: bold;
    color: rgba(20,20,20,1);
}
.narrow {
    width: 220px ! important;
}
div#modal > div.box > div.header {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    /*background-color: gray;*/
}
div#modal > div.box > div.header > a {
    padding: 3px 5px 5px 5px;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 0 -1px black;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
}
div#modal > div.box > div.header > span#title {
    text-transform: uppercase;
}
div#modal > div.box > div.content {
    
}
div#modal > div.box > div.content > form.reminder {
    height: 50px;
}
div#modal > div.box > div.content > form.reminder > div.footer {
    line-height: 28px;
}
div#modal > div.box > div.content > form.reminder > div.footer > button {
    float: right;
}
div#modal > div.box > div.content > form.reminder > div.footer > img {
    display: none;
}

