body{
  font-family:"TeXGyreHerosRegular";
  font-size:13px;
  padding:0;
  margin:0;
  margin-top:10px;
  
  background:#f6f5f0 url(/static/sky.jpg) repeat-x  center top;
}

.box {
    float: left;
    width: 260px;
    height: 200px;
    margin: 5px;
    padding: 10px;

    background:#f0f0f0;
    border:1px solid #bfbfbf;
    border-top:1px solid #aaa;
    font-size:25px;
    color:#333;
}

.boxTitle {
    font-size:50px;
}
.info {  }
.variable { color:#FF3399; float:right;  text-align: center; }

#container{
  width:900px;
  margin:auto;
  position:relative;
}

#titlePrefix{
  font-size:60px;
  color:#333;
  line-height:100px;
  margin-bottom:30px;
  padding:20px;
}
#titleSuffix{
  font-size:100px;
  color:#FF3399;
  line-height:110px;
  margin-bottom:30px;
  padding:20px;
}


/* =========== */
/* = Classes = */
/* =========== */
.header{
  font-size:50px;
  color:#666;
  line-height:50px;
  margin-bottom:10px;
  padding-left:20px;
  padding-right:20px;
}

#footer{
  float: left;
  clear: left;
  color:#666;
  margin-bottom:10px;
  padding-left: 20px;
  padding-top: 50px;
}

.smallText{
  font-size:20px;
  color:#666;
  line-height:1.4em;
  margin-bottom:50px;
  padding-left:20px;
  padding-right:20px;
}

