<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>
        Ego ~ {% block title %}{% endblock %}</title>
        <!-- Styles -->
        <!-- Put styles in head: http://developer.yahoo.com/performance/rules.html#css_top -->
        <link rel="stylesheet" href="/static/css/ego_website.css" type="text/css"/> 
<!--         {% block extra_styles %}{% endblock %} -->
        <link rel="shortcut icon" href="/static/images/website/ego-icon.png">
    </head>

    <body>
        <div id="menu">
            <div class="menu-item button" id="index">
                <span id="title">Ego</span>  
            </div>
            <div class="menu-item" id="index">
                <img src="/static/images/website/index.png" />
                <span class="button">Home</span>
            </div>
            <div class="menu-item" id="download">
                <img src="/static/images/website/download.png" />
                <span class="button">Downloads</span>
            </div>
            <div class="menu-item" id="guides">
                <img src="/static/images/website/guides.png" />
                <span class="button">Guides</span>
            </div>
            <div class="menu-item" id="about">
                <img src="/static/images/website/about.png" />
                <span class="button">About</span>
            </div>
            <br class="clear" />
        </div>

        <div id="message">
            <!-- Block for displaying messages back to the user. -->
            {% if message %}
                {{message}}
            {% else %}
                <style>
                    #message {
                        display: none;
                    }
                </style>
            {% endif %}
        </div>

        <div id="content">

<div class='alert'>
    <td>Grab the <a href='{% url resources "ego.pdf" %}'>leaflet from MIT Media Lab spring sponsor week 2009 (1.6MB)</a>
    <img class="middle" src='/static/images/website/fileicon-pdf.png' />
</div><br class='clear'/>

<div class="section">
    <a class="highslide" onclick="return hs.expand(this);" href='/static/images/website/about/distributed.png'>
        <img class="right" src='{% url resources "images/about/distributed.png" %}'></img>
    </a>
    <span class="header-noblock">Ego is a distributed social network.</span>
    <hr/>
    Ego is a distributed social network. What does this mean? It's a piece of social networking software like Facebook that allows you to manage your friends, your data and what you want to share with whom. But - unlike Facebook - there is no centralized server controlling the entire network. As a consequence of this, you own your data and can control what data gets shared not only with friends but with other corporations, etc. <br/><br/>
    
    The distributed nature of the network means that individuals own their own intelligent "agent". Agents cooperate to form a dynamically-evolving social network. The Ego network is comprised of a society of agents collaborating together to maintain the network.
    <br class="clear" />
</div>

<div class="section">
    <a class="highslide" onclick="return hs.expand(this);" href='{% url resources "images/about/agent.png" %}'>
        <img class="left" src='{% url resources "images/about/agent.png" %}'></img>
    </a>
    <span class="header-noblock">Meet your agent.</span>
    <hr/>
    Your agent is your personalized, private data store. You can store any data you like in your agent: a blog, your friends' phone numbers, historical status updates, and even your sensed context (more on that <a href="#context">later</a>). Your agent is responsible for maintaining your identity, your privacy controls and interacting with other agents in the Ego network on your behalf.<br><br>

    By means of your agent, you can easily mine your own data to learn more about yourself, without exposing personal information to third parties. Additionally, you can aggregate data from your social network to obtain rich datasets - as long as your friends agree to share this data with you!
    <br class="clear" />
</div>

<div class="section">
    <a class="highslide" onclick="return hs.expand(this);" href='{% url resources "images/about/friends.png" %}'>
        <img class="right" src='{% url resources "images/about/friends.png" %}'></img>
    </a>
    <span class="header-noblock">Share data with your friends.</span>
    <hr/>
    Like traditional "Web-2.0" social networks, Ego allows you to form friendships. Becoming friends with another agent means that your agents can share private data - what sort of private data and the extent of this friendship is in your control, and is bi-directional. In other words, two agents with an established relationship (friendship) may offer different levels of access to each other.
    <br class="clear" />
</div>

<div class="section" id="context">
    <a class="highslide" onclick="return hs.expand(this);" href='{% url resources "images/about/presence.png" %}'>
        <img class="left" src='{% url resources "images/about/presence.png" %}'></img>
    </a>
    <span class="header-noblock">Gather and use your context.</span>
    <hr/>
    One of Ego's most interesting features is its ability to store contextual information about you. You can run software on your personal electronic devices that can sense your context (location, number of Bluetooth neighbors, take pictures, etc.) and report this data back to your agent to be stored and, potentially, shared.<br><br>

    Even cooler: you can share identifying information - like your Bluetooth MAC address - with friends. When their devices sense you their agent will notify your agent with any contextual readings. For instance: if my friend Bob has location and Bluetooth sensors and he sense my Bluetooth device, he can share the location he has sensed with me because we are likely in a similar location. This technique is dubbed "socially-collaborative sensing".<br><br>

    What does this mean? If you leave your phone in Bluetooth discoverable mode and share your MAC address with a few Ego friends, you will have rich, inferred contextual data about yourself, without having to run software on your phone or anywhere else. You can even become friends with the Media Lab building (W20) and share your identifier with it so that you can leverage its wide array of sensors. Then you offload all the context gathering work to the Media Lab, and you get the data for free.
    <br class="clear" />
</div>

<div class="section">
    <a class="highslide" onclick="return hs.expand(this);" href='{% url resources "images/about/applications.png" %}'>
        <img class="right" src='{% url resources "images/about/applications.png" %}'></img>
    </a>
    <span class="header-noblock">Participate in community-wide applications.</span>
    <hr/>
    Your agent's rich personal dataset means that you can mine your own data to your heart's content. But you can also choose to open up subsets of your personal data and share it with community-wide aggregation applications. For instance, if we all set our agents to share our (anonymized) location with a central service, we could see where Media Lab folk like to work at different times of day.
    <br class="clear" />
</div>

        </div>
        
        <div id="footer">
            &copy; 2010 Pol Ypodimatopoulos, <a href="http://viral.media.mit.edu/">Viral Communications</a>, <a href="http://media.mit.edu">MIT Media Lab</a>
        </div>

        <!-- Scripts -->
        <script language="javascript" type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            $(".menu-item").click(function(){
                console.log(this);
                page = this.id;
                window.location.href = "/ego/"+page+".html";
            });
        });
        </script>
    </body>
</html>







