<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>
        Ego ~ </title>
        <!-- Styles -->
        <link rel="stylesheet" href="/ego/css/ego_website.css" type="text/css"/> 
        <link rel="shortcut icon" href="/ego/images/website/ego-icon.png">
<style>

body { color:#bbb; background:#191919; width:800px; margin:auto; }
#header { font-size: 70px; font-variant: small-caps; padding-top:100px; }

.indicator { display: none; }

.text { height:50px; font-size: 35px; float:left; }
#message { width:300px; float:right; }

#form { width:400px; float:left; }
#username { color:#bbb; }
#usertype { margin-top: 20px; clear:left; }

#btn_clear { cursor:pointer; }

#output { clear:left; margin-top:100px;}

</style>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20539770-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    </head>

    <body>
        <div id="menu">
            <div class="menu-item button" id="index">
                <span id="title">Ego</span>  
            </div>
            <div class="menu-item" id="index">
                <img src="/ego/images/website/index.png" />
                <span class="button">Home</span>
            </div>
            <div class="menu-item" id="download">
                <img src="/ego/images/website/download.png" />
                <span class="button">Downloads</span>
            </div>
            <br class="clear" />
        </div>

        <div id="message">

        </div>

        <div id="content">
        </div>
        
        <div id="footer">
            &copy; 2010 Pol Ypodimatopoulos, <a href="http://viral.media.mit.edu/">Viral Communications</a>, <a href="http://media.mit.edu">MIT Media Lab</a>
        </div>

        <!-- Scripts -->
        <script language="javascript" type="text/javascript" src="/ego/js/jquery.min.js"></script>
        <script language="javascript" type="text/javascript">
        $(document).ready(function() {
            $(".menu-item").click(function(){
                if (this.id == "download")
                    $("#message").show().html("<p>coming soon</p>");
                else {
                    page = this.id;
                    window.location.href = "/ego/"+page+".html";
                }
            });
        });
        </script>
    </body>
</html>