
<style>
ol > li {color:black;}
</style>


<!-- <div class="date">submitted 23 Feb 2011</div> -->
<p>Create your own discovery application that helps people network with each other, engage in civic journalism and team up to share resources in three simple steps:</p>
<ol>
	<li> Create your application.</li>
	<li> Share the URL to your application with the people in your community.</li>
	<li> Participate.</li>
</ol>


Brin.gy is actively developed at the 
<a href="http://viral.media.mit.edu">Viral Spaces</a> and 
<a href="http://eco.media.mit.edu">Information Ecology</a> groups at the 
<a href="http://media.mit.edu">MIT Media Lab</a>.

<h2>Frequently Asked Questions</h2>
<p>Q: Does this work on my mobile device?<br>
   A: While this interface works on iPad, it is not designed to be used on a mobile device. An iOS app is under development.</p>

<p>Q: How do I login using my pseudonym on a different device?<br>
   A: You can use your "admin URL" to edit your profile on any browser. The "admin URL" looks like <code>http://brin.gy/a/SECRETCODE</code> and appears when you create an account, in your "Account" box at the top-right of the page.</p>

<p>Q: Is there an API to access this data?<br>
   A: Yes. Personal information is available at <code>http://agents.brin.gy/USERNAME/profile</code>, while application information is available at <code>http://satellite.brin.gy/profile/APPLICATION_NAME/keyvals</code>.</p>

<h2>Contact</h2>
<p><a href="http://polychronis.gr">Polychronis Ypodimatopoulos</a></p>

<h2>Credits</h2>
<p><a href='http://rubinte.ch'>Jeremy Rubin</a>: Social networks integration.</p>
<p>We thank <a href="http://mattblackshaw.com">Matt Blackshaw</a> and <a href="http://supermechanical.com">John Kestner</a> for their useful feedback.</p>

<h2>Disclaimer</h2>
<p>By using this service you agree to the following terms:</p>
<ol>
<li>Your participation is voluntary.</li>
<li>You may permanently remove any data you have inserted to the system by clicking the "Delete" option in your account.</li>
<li>All information you insert to this system is information that you wish to publicly announce about you and based on which you wish to be contacted by other users.</li>
<li>You may insert personally identifiable information about you at your own discretion and risk, but you are not allowed to impersonate others.</li>
<li>Proper measures are taken to ensure that any data you insert to the system can not be altered by unauthorized users.</li>
<li>There is no guarantee that information inserted to the system by other users will be complete and/or accurate.</li>
</ol>
