<div class='accountentry'>
	<img src='/static/images/website/glyphicons_003_user.png' />
	<span id='username'><%= username %></span>
</div>
<div class='accountentry'>
	<img src='/static/images/website/glyphicons_010_envelope.png' />
	<span id='email'><%= email %></span>
</div>

<div class='account buttons'>
	<button class='account btn btn-primary' id='signout'>sign out</button>
	<button class='account btn btn-danger' id='delete'>delete account</button>
</div>


<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
	FB.init({
		appId      : '175782962471804',
		status     : true, 
		cookie     : true,
		xfbml      : true,
		oauth      : true,
	});

	FB.getLoginStatus(function(response) {
		console.log(response)
		if (response.status === 'connected') {
			// the user is logged in and has authenticated your
			// app, and response.authResponse supplies
			// the user's ID, a valid access token, a signed
			// request, and the time the access token 
			// and signed request each expire
			var uid = response.authResponse.userID;
			var accessToken = response.authResponse.accessToken;

			var url = 'https://graph.facebook.com/me';
			$.getJSON(url, {access_token:accessToken}, function(json){
				console.log(json)
			});

		} else if (response.status === 'not_authorized') {
			console.log("the user has not authenticated your app");
		} else {
			console.log("the user isn't logged in to Facebook.");
		}
	});
};
(function(d){
	var js, id = 'facebook-jssdk'; 
	if (d.getElementById(id)) {return;}
	js = d.createElement('script'); 
	js.id = id; js.async = true;
	js.src = "//connect.facebook.net/en_US/all.js";
	d.getElementsByTagName('head')[0].appendChild(js);
}(document));
</script>
<div class="fb-login-button" scope="email,user_checkins">Login with Facebook</div>