<div class='accountentry'>
	<i class='icon-user'></i>
	<span id='username'><%= username %></span>
</div>
<div class='accountentry'>
	<i class='icon-envelope'></i>
	<span id='email'><%= email %></span>
</div>

<div class='account buttons'>
	<button class='account btn btn-primary' id='signout'>sign out</button>
	<button class='account btn btn-danger' id='delete'>delete account</button>
</div>


<!-- <div id="fb-root"></div>
<div class="fb-login-button" scope="
	user_about_me,
	user_activities,
	user_birthday,
	user_education_history,
	user_groups,
	user_hometown,
	user_interests,
	user_relationship_details,
	user_religion_politics,
	user_work_history,
	user_status,">
	Login with Facebook
</div> -->