
<div>
	<div class='well onvalueadded'>
		<b><%= user %></b> also added this attribute: <br>"<b><%= val %></b>" in "<b><%= key %></b>"
	</div>

	<div class='well onvaluecreated'>
		<%= user %> added "<%= val %>" in "<%= key %>"
	</div>

	<div class='well onattribute'>
		<%= user %> introduced a new attribute: <br>"<%= val %>" / "<%= key %>"
	</div>

	<div class='well onapplication'>
		<%= user %> started a new application: "<%= context %>"
	</div>

	<div class='well onchat'>
		<b><%= user %></b> commented on: "<%= context %>", "<b><%= key %></b>", "<b><%= val %></b>"
	</div>
</div>