

<div class='locationPicker'>
	
	<div class='caption'>
		Location picker
		<div id='tip'>
			Tip: Zoom and pan to enclose your target as completely as possible
		</div>
	</div>

	<div id='page1' class='wizardPage'>
		<input id='locationinput' type='text' placeholder='type location name...' />
		<div id='crosshair'>+</div>
	</div>

	<div class='buttons'>
		<button id='cancel' class='btn btn-large'>Cancel</button>
		<button id='useloc' class='btn btn-large btn-danger'>Use this area</button>
		<button id='next' class='btn btn-large btn-success disabled'>OK</button>
	</div>
</div>
