

<div class='locationPicker'>
	
	<div class='caption'>
		Location picker
		<div id='tip'>
			Tip: Zoom and pan to enclose your target as completely as possible, or use one of the existing locations on the map.
		</div>
	</div>

	<form class='wizardPage'>
		<!-- <form> -->
			<input id='locationinput' type='text' autofocus required placeholder='place name' required />
			<!-- <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/> -->
		<!-- </form> -->
	

		<div class='buttons'>
			<button id='cancel' class='btn btn-large'>Cancel</button>
			<button id='useloc' class='btn btn-large btn-danger'>Use this area</button>
			<button id='next' class='btn btn-large btn-success ' type='submit'>OK</button>
		</div>
	</form>
</div>

<div id='crosshair'></div>