

<div class='locationPicker'>
	
	<div class='caption'>
		Location picker
		<div id='tip'>
			Tip: Zoom and pan to enclose your target as completely as possible, or use one of the existing locations on the map.
		</div>
	</div>

	<div id='page1' class='wizardPage'>
		<form>
			<input id='locationinput' type='text' autofocus required placeholder='location name...' />
			<!-- <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/> -->
		</form>
		
	</div>

	<div id='page2' class='wizardPage'>
		<div class='box'>
			<input id='title' type='text' placeholder='Title...' />
			<textarea id='description' placeholder='Description...' rows=3></textarea>
		</div>

		<div class='caption'>Time constraints (optional)</div>
		<div class='box'>
			<div>This information will self-destruct in:</div>
			<input type='number' value="abc" placeholder=0 />
			<select id="fruits">
				<option value="never" selected> never </option>
				<option value="minutes">minutes</option>
				<option value="hours">hours</option> 
				<option value="days">days</option> 
				<option value="months">months</option> 
			</select>
		</div>
	</div>


	<div class='buttons'>
		<button id='cancel' class='btn btn-large'>Cancel</button>
		<button id='useloc' class='btn btn-large btn-danger'>Use this area</button>
		<button id='next' class='btn btn-large btn-success disabled'>OK</button>
	</div>
</div>

<div id='crosshair'></div>