
<div class="btn-group controlFilters" data-toggle="buttons-radio">
    <button class="btn btn-inverse active" id='all'>
        all
    </button>
    <button class="btn btn-inverse" id='me'>
        me <span class='badge badge-warning' id='meBadge'></span>
    </button>
    <button class="btn btn-inverse" id='filters'>
        filters<!-- &#x1F50E --> <span class='badge badge-warning' id='searchBadge'></span>
    </button>
</div>

<!-- <div class="btn-group controlSorters secondOrder" data-toggle="buttons-radio">
    <button class="btn btn-inverse active">popular</button>
    <button class="btn btn-inverse">new</button>
    <button class="btn btn-inverse">alpha</button>
</div> -->

<div id='profileinfo' class='secondOrder'>
    <img src='/static/images/website/user2.png' />
    <span id='username'></span>    
</div>
<button id='likemeBtn' class='btn large btn-primary secondOrder'>people like me</button>
<button id='resultsBtn' class='btn large btn-primary secondOrder'>Send Message</button>
<button id="loginBtn" class="btn btn-success secondOrder">Sign in or Create</button>
<button id="cancelMessageBtn" class="btn btn-danger secondOrder">Cancel</button>
<button id="sendMessageBtn" class="btn btn-success secondOrder">Send</button>
<button id="backBtn" class="btn btn-primary secondOrder">Back</button>
<button id="newBtn" class="btn btn-primary secondOrder">Start New Attribute</button>
<button id="saveAttrBtn" class="btn btn-success secondOrder">Save</button>
