
<!-- <attribute> -->
    <a href="#" class='keypart' type="keypart" class="<% print(selected ? 'pressed' : '') %>">
        <span class="count attr_counters" uitype="sat_attribute" style='<% if (! showControls) print('display:none;') %>'>
            <%= cnt %>
        </span>
        <span><%= key %></span>
        <!-- <button class='btn btn-primary'>new value</button> -->
    </a>
    <div class="valpart"></div>
    <div class="valpartdetailed"></div>
    looking for something else? <button class='btn btn-primary'>new value</button>
    <!-- <form <% if (! showControls) print('style="display:none";') %>>
        <input type='text' placeholder='type new value...' />
    </form> -->
<!-- </attribute> -->


