
<a href="#" class='keypart' type="keypart" class="<% print(selected ? 'pressed' : '') %>">
    <span class="count attr_counters" uitype="sat_attribute" style='<% if (! showControls) print('display:none;') %>'>
        <%= cnt %>
    </span>
    <span><%= key %></span>
</a>
<!-- <div class="valpart"></div> -->
<div class="valpartdetailed"></div>

<div class='valpartfooter' style='<% if (! showControls) print('display:none;') %>'>
    <button class='btn btn-success'>new value</button>
    <span>looking for something else?</span>
</div>



