
<div class='signin'>
    <b>SIGN IN</b>
    <form>
        <input type='text' autofocus placeholder='username...' />
        <input type='password' placeholder='password...' />
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
    </form>
</div>

<div class='signup'>
    <b>SIGN UP</b>
    <form>
        <input type='text' autofocus placeholder='pick username...' />
        <input type='email' placeholder='email (notification and reminders)' />
    </form>
</div>


<div class='reminder'>
    <b>PASSWORD</b>
    get email reminder
    <form><input type='email' autofocus placeholder='type your email...' /></form>
</div>


<a href='#signup' class='login signin'>....or create new user.</a>
<a href='#signin' class='login signup'>Already a user? Sign in.</a>
<a href='#reminder' class='login signin'>Forgot password?</a>