
<div class='title'>
	<span class="count">
	    <div class='cno'><%= score %></div>
        <div class='caption'><% if (score==1) print('person'); else print('people'); %></div>
	</span>
	<div class='titleVal'><%= title %></div>
</div>
<div class='body'>
	location: <%= location.title %>
	<!-- <p><%= description %></p> -->
	<div class='tools'>
		<a class='zoom' href='#'>zoom here</a>
		<button id='enterBtn' class='btn btn-success'>Enter</button>
	</div>
</div>

<img class='arrow' src='/static/images/arrow-down.png'></img>