<form id="searchbox">
    <input autofocus="autofocus" type="search" id="searchinput" results="10" placeholder="Search or Add attributes..." />
</form>
<div class="controls">
    <div class="btn-group controlOptions" data-toggle="buttons-radio">
        <button class="btn btn-inverse">
            all <span class='badge' id='allBadge'></span>
        </button>
        <button class="btn btn-inverse">
            me <span class='badge badge-warning' id='meBadge'></span>
        </button>
        <button class="btn btn-inverse">
            filters<!-- &#x1F50E --> <span class='badge badge-warning' id='searchBadge'></span>
        </button>
    </div>
    <button id='resultsBtn' class='btn large btn-primary'>results</button>
</div>
<div id="message"></div>
<div id="userinfo"></div>
<div id="m-choices">
    <div class='closingpane'>
        <button class='btn large btn-primary newattrbtn'>Start new attribute!</button>
    </div>
    <div class='mobile'>
        &#x007E Brin.gy &#x007E
    </div>
</div>