

<div class="navbar-inner">
    <div class="container">
        <a class="brand" href="#">Brin.gy</a>
          
        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse">
            <a href='#' class='navbar-text pull-left context'></a>
        </div>
        <ul class="nav pull-right">
            <li class=''><a id='about' href="#about">About</a></li>
            <!-- <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    About<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href='#'>Action</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li> -->
            <li class="dropdown authed">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href='#'>Action</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li class='noauth'><a id='signin' href="#">Sign in</a></li>
            <li class='noauth'><a id='signup' href="#">Create username</a></li>
        </ul>
    </div>
</div>
