

<a class="brand" href="#apps">Brin.gy</a>
<a class='context' href="#"></a>
<ul class=''>
    <li class='menu noauth'><a id='signup' href="#">Create username</a></li>
    <li class='menu noauth'><a id='signin' href="#">Sign in</a></li>
    <li class='menu authed'>
        <a id='account' href="#">
            <i class="icon-user icon-white"></i>
            <span id='username'></span>
            <div class='badge-icon'></div>
        </a>
    </li>
    <!-- <li class='menu'><a id='contexts' href="#apps">Applications</a></li> -->
    <li class='menu explore'><a id='explore' href="#explore">Explorer</a></li>
    <li class='menu'><a id='about' href="#about">About</a></li>
    <!-- <li class='message'></li> -->
</ul>
