<div id='attributes'>
    <form class=''>
        <div class='well title'>
            <label>The title should be as descriptive as possible (eg. "I would like to talk about")</label>
            <input id='title' type='text' placeholder='type title...' />
        </div>
        <div class='well value'>
            <label>Please type at least one value:</label>
            <input class='value' type='text' placeholder='type value...' />
            <input class='value' type='text' placeholder='type value (optional)...' />
            <input class='value' type='text' placeholder='type value (optional)...' />
        </div>
    </form>
</div>
