<form>
    <label class='small'>Context name</label>
    <input type='text' id='contextName' placeholder='eg. "MIT Media Lab", "Logan Intl Airport", etc.' />
    <label class='small'>Context description</label>
    <textarea id='contextDescr' placeholder='eg. People waiting or heading to the Logan Intl. Airport.'></textarea>
</form>

<div id='suggestions'>
    <label>suggestions:</label>
    <div id='autocomplete'></div>
</div>




<div id='attributes'>
    <label class='small'>Please choose personal attributes to use in the new context.</label>
    <div id='buttons'>
        <button class='btn btn-large' id='select'>Select all</button>
        <button class='btn btn-large' id='toggle'>Toggle all</button>
        <button class='btn btn-large' id='deselect'>Deselect all</button>
        <span class='counter'></span>
    </div>
    <div id='attrList'></div>
</div>