

<form class='newContextOptions'>
	
    <div><b>Application Title</b></div>
    <input type='text' id='title' autofocus required placeholder='Title' />

    <div><b>Application Description</b></div>
    <textarea id='description' required placeholder='what is this application about?'></textarea>
    
	<div class='well'>
        <div class='header'>Time constraints (coming soon)</div>
        <label>This application is time-critical. All information pertaining to this application will self-destruct in:</label>
        <input type='number' disabled value="abc" placeholder=0 />
		<select id="fruits" disabled>
			<option value="never" selected> never </option>
			<option value="minutes">minutes</option>
			<option value="hours">hours</option> 
			<option value="days">days</option> 
			<option value="months">months</option> 
		</select>
    </div>


	<div class='well'>
        <div class='header'>Permissions</div>
        <label class="radio">
            <input type="radio" value="any" name='permissions' checked />
            Anyone can participate.
        </label>
        <label class="radio">
            <input type="radio" value="url" name='permissions' />
            Anyone with the URL.
        </label>
        <label class="radio">
            <input type="radio" value="social" name='permissions' disabled />
            Only users with at least 10 friends/followers can participate (FB/Twitter required). (coming soon)
        </label>
    </div>

    <div class='footer'>
		<!-- <img class='loader' src='/static/images/website/ajax-loader-white.gif?0' /> -->
	    <button id='newcontext' class='btn btn-success'>Next: choose location ></button>
	</div>
    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
</form>


