
<form class='newKey'>
    <div class='well'>
        <div class='header'>title</div>
        <input id='key' type='text' autofocus required />
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
    </div>

    <div class='well'>
        <div class='header'>what is this attribute about?</div>
        <label class="radio">
            <input type="radio" id='location' value="location" name='keytype' />
            <i class='icon-map-marker'></i>&nbsp;<b>Places</b>. Anything that can be found on a map.
        </label>
        <label class="radio">
            <input type="radio" id='users' value="users" name='keytype' disabled />
            <i class='icon-user'></i>&nbsp;<del><b>Other People</b>. Twitter and Facebook accounts can be used to refer to other users.</del>
        </label>
        <label class="radio">
            <input type="radio" id='string' value="string" name='keytype' checked />
            <i class='icon-font'></i>&nbsp;Plain text to describe anything else.
        </label>
    </div>

    <div class='buttons'>
        <button class='btn btn-danger cancel'>Cancel</button>
        <button class='btn btn-success save'>Save</button>
    </div>
</form>