

<form class='newLocationAttr'>
    <!-- <div><b>Application Title</b></div> -->
    <div>location: <%= location %></div>
    <input type='text' id='title' autofocus required placeholder='Title' />
    
<!-- 	<div class='well'>
        <div class='header'>Time constraints (coming soon)</div>
        <label>This application is time-critical. All information pertaining to this application will self-destruct in:</label>
        <input type='number' disabled value="abc" placeholder=0 />
		<select id="fruits" disabled>
			<option value="never" selected> never </option>
			<option value="minutes">minutes</option>
			<option value="hours">hours</option> 
			<option value="days">days</option> 
			<option value="months">months</option> 
		</select>
    </div> -->

    <div class='footer'>
        <button id='newlocattr' class='btn btn-success'>Save</button>
        <button class='btn btn-danger cancel'>Cancel</button>
	</div>
    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
</form>


