

<a href="#" class='valpart'>
	<span class="count">
	    <div class='cno'><%= score %></div>
        <div class='caption'><% if (score==1) print('person'); else print('people'); %></div>
	</span>
	<span class="value"><%= val %></span>

	<form class='newAttr'>
		<input id='val' type='text' name='val' autofocus required />
		<button class='btn btn-success'>Save</button>
	</form>
</a>



<div class="btn-group">
	<button id='addBtn' class='btn'>+ me too</button>
	<button class="btn dropdown-toggle" data-toggle="dropdown">
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
		<li><a href="#"><i class='icon-flag'></i>&nbsp;Flag</a></li>
		<!-- <li class="divider"></li> -->
	</ul>
</div>

<div id='matches'></div>