

<a href="#" class='valpart'>
	<span class="count"<% if (! showControls) print('style="display:none"') %> >
	    <span class='cno'><%= vcnt %></span>
        <span class='caption'>people</span>
	</span>
	<div class="value"><%= val %></div>
</a>

<button id='searchBtn' class='btn <% if (selected) print("btn-primary") %>' <% if (! showControls) print('style="display:none";') %>></button>
<button id='addBtn' class='btn <% if (haveit) print("btn-success"); %>' <% if (! showControls) print('style="display:none";') %>>+</button>

<div id='matches'></div>