

<a href="#" class='valpart'>
	<span class="count">
	    <div class='cno'><%= score %></div>
        <div class='caption'><% if (score==1) print('person'); else print('people'); %></div>
	</span>
	<span class="value"><%= val %></span>
</a>



<div class="btn-group">
	<button id='addBtn' class='btn'>+ me too</button>
	<button class="btn dropdown-toggle" data-toggle="dropdown">
	<span class="caret"></span>
	</button>
	<ul class="dropdown-menu">
	<!-- dropdown menu links -->
	</ul>
</div>

<div id='matches'></div>