<div id="ticker">
    <pre id="ticker-score" class="ticker-label">23</pre> people have specified their <pre id="ticker-key" class="ticker-label">gender</pre> as <pre id="ticker-val" class="ticker-label">male</pre> 
</div>

<div class="index-aside">
    <div id="userstat" class="stat-div">
        <span id="users" class="stat-entry"></span> users
    </div>
    <div id="attrstat" class="stat-div">
        <span id="values" class="stat-entry"></span> attributes
    </div>
    <div id="querystat" class="stat-div">
        <span id="queries" class="stat-entry"></span> queries
    </div>
</div>
<div class="index-body">    
    <p>Brin.gy allows people to announce any bit of information about themselves and then find others based on that information. Browse people based on any type of information ranging from skills and expertise to favorite books and dating preferences.</p>
</div>