<div id='head'></div>

<div id="map_canvas" style="height:100%"></div>

<div class='pickLocation'>
	
	<div class='caption'>Choose the area in which your application is relevant (optional)</div>

	<div id='page1' class='wizardPage'>
		<div id='tip'>Tip: Zoom and pan to enclose your target as completely as possible</div>
		<input id='location' type='text' placeholder='type location...' />
		<div id='crosshair'>+</div>
	</div>

	<div id='page2' class='wizardPage'>
		<div class='box'>
			<input id='title' type='text' placeholder='Title...' />
			<textarea id='description' placeholder='Description...' rows=3></textarea>
		</div>

		<div class='caption'>Time constraints (optional)</div>
		<div class='box'>
			<div>This information will self-destruct in:</div>
			<input type='number' value="abc" placeholder=0 />
			<select id="fruits">
				<option value="never" selected> never </option>
				<option value="minutes">minutes</option>
				<option value="hours">hours</option> 
				<option value="days">days</option> 
				<option value="months">months</option> 
			</select>
		</div>
	</div>

	<div class='buttons'>
		<button id='useloc' class='btn btn-large btn-danger'>Use this area</button>
		<button id='next' class='btn btn-large btn-success'>Skip > </button>
	</div>
</div>


