{% extends "base.html" %}

{% block body %}
<style>
.date { font-size:14px; color: gray; padding-bottom:8px; }
h2 { padding-top: 10px; }
</style>

<h2>About</h2>
<!-- <div class="date">submitted 23 Feb 2011</div> -->
<p>Brin.gy implements a protocol that allows people to announce bits of information about themselves and participate in dynamic groups formed around that information. It implements an experimental protocol for human discovery, namely <b>Human Discovery Protocol</b>. HDP allows us to form dynamic groups such as the group of people interested in buying the same product, people with similar expertise, people in the same location, or any intersection of these examples.</p>
<p>When it comes to <b>"finding the right people"</b>, we need either a user account with some sort of social networking service, or a lot of patience to sift through online forums like Craigslist. When computers look for other computers though, they are consistently effective and their results are specific because they follow well-defined protocols, like DNS. Imagine how ineffective the internet would be if every DNS server was a "walled garden" requiring computers to have an account with it, or have to engage in "chatty" conversations in an online forum in order to figure out which IP address corresponds to a hostname. This is unfortunately the reality when it comes to humans discovering and communicating with each other on the internet.</p>
Brin.gy is a research project under development at the 
<a href="http://viral.media.mit.edu">Viral Spaces</a> and 
<a href="http://eco.media.mit.edu">Information Ecology</a> groups at the 
<a href="http://media.mit.edu">MIT Media Lab</a>.

<h2>Contact</h2>
<p><a href="http://plus.google.com/107958667107270024286/about">Polychronis Ypodimatopoulos</a></p>

{% end %}
