{% extends "base.html" %}

{% block body %}
<style>
.date { font-size:14px; color: gray; padding-bottom:8px; }
h2 { padding-top: 10px; }
</style>

<h2>About</h2>
<!-- <div class="date">submitted 23 Feb 2011</div> -->
<p>The Ego project started in 2008 with a focus on decentralized social networks. Ego presents an agent-based, user-centered architecture for storing, discovering and sharing information about an expandable set of applications like location, reviews, buying/selling goods etc. Users can fluidly create agents that hold information relevant to the user's intention. For example, in a buying and selling scenario users announce a product they are interested in, then the system lumps together users interested in the same product, allowing direct discovery. Agents might make other types of information available like location and reputation to allow other agents to make more informed decisions. We demonstrate an interactive visualization of different urban scenarios involving 1000 agents that discover each other in the context of some personal interest. We explore the tradeoffs of combining three different types of information: physical details, reputation and location.</p>
<p>Life on the Internet is transitioning from the dominant client-server model of accessing web pages and sending emails, to a model that better resembles real life: people advertise their mood, connect to each other in various capacities, share reviews that can be as elaborate as a Yelp entry or as terse as a "Like" button, etc. The transition from the application-centered web to a user-centered one requires revisiting the way users generate, store and share information. A key characteristic of the emerging communication model is that there are no explicit destinations; </p>
{% end %}
