{% extends "base.html" %}

{% block body %}
<style>
.date { font-size:14px; color: gray; padding-bottom:8px; }
h2 { padding-top: 10px; }
ol > li {color:black;}
.left-panel { overflow-y: scroll;  }
</style>

<div class="left-panel">
    <h2>About</h2>
    <!-- <div class="date">submitted 23 Feb 2011</div> -->
    <p>Brin.gy allows people to announce bits of information about themselves and find others based on that information. It implements an experimental protocol for human discovery, namely <b>Human Discovery Protocol</b>. HDP allows us to form dynamic groups such as the group of people interested in buying the same product, people with similar expertise, people in the same location, or any intersection of these examples.</p>
    <p>When it comes to <b>"finding the right people"</b>, we need either a user account with some sort of social networking service, or a lot of patience to sift through online forums like Craigslist. When computers look for other computers though, they are consistently effective and their results are specific because they follow well-defined protocols, like DNS. Imagine how ineffective the internet would be if every DNS server was a "walled garden" requiring computers to have an account with it, or have to engage in "chatty" conversations in an online forum in order to figure out which IP address corresponds to a hostname. This is unfortunately the reality when it comes to humans discovering and communicating with each other on the internet.</p>
    Brin.gy is a research project under development at the 
    <a href="http://viral.media.mit.edu">Viral Spaces</a> and 
    <a href="http://eco.media.mit.edu">Information Ecology</a> groups at the 
    <a href="http://media.mit.edu">MIT Media Lab</a>.
    
    <h2>Frequently Asked Questions</h2>
    <p>Q: Does this work on my mobile device?<br>
       A: While this interface works on iPad, it is not designed to be used on a mobile device. An iOS app is under development.</p>
    
    <p>Q: How do I login using my pseudonym on a different device?<br>
       A: You can use your "admin URL" to edit your profile on any browser. The "admin URL" looks like <code>http://brin.gy/a/SECRETCODE</code> and appears when you create an account, in your "Account" box at the top-right of the page.</p>
    
    <p>Q: Is there an API to access this data?<br>
       A: That's the whole idea behind this project. I'm writing documentation about it as we speak (sort of).</p>
    
    <p>Q: Do you know about Quora/Aadvark?<br>
       A: Yes. Both are oriented towards answering questions, while Brin.gy attempts to serve as a discovery mechanism for people.</p>
    
    <h2>Contact</h2>
    <p><a href="http://plus.google.com/107958667107270024286/about">Polychronis Ypodimatopoulos</a></p>
    
    <h2>Credits</h2>
    <p>iOS app: <a href="http://cinnamondevelopment.com/">Ian Cinnamon</a></p>
    <p>We would like to also thank <a href="http://mattblackshaw.com">Matt Blackshaw</a> and <a href="http://supermechanical.com">John Kestner</a> for their feedback.</p>
    
    <h2>Disclaimer</h2>
    <p>By using this service you agree to the following terms:</p>
    <ol>
    <li>Your participation is voluntary.</li>
    <li>You may permanently remove any data you have inserted to the system by clicking the "Delete" option in your account.</li>
    <li>All information you insert to this system is information that you wish to publicly announce about you and based on which you wish to be contacted by other users.</li>
    <li>You may insert personally identifiable information about you at your own discretion and risk, but you are not allowed to impersonate others.</li>
    <li>Proper measures are taken to ensure that any data you insert to the system can not be altered by unauthorized users.</li>
    <li>There is no guarantee that information inserted to the system by other users will be complete and/or accurate.</li>
    </ol>
</div>
{% end %}
