{% extends "base.html" %}


{% block head %}
<script language="javascript" type="text/javascript">


var ego_url_prefix = "{{config.ego_url_prefix}}";
var website_url_prefix = "{{config.website_url_prefix}}";
var discov_url = "{{config.discov_url}}";
var valid_username = undefined;

console.log(ego_url_prefix, website_url_prefix, discov_url);

var redirect = function(username) {
    window.location.href = "{{config.website_url_prefix}}/"+username+"#tour";
}

var check_username = function()
{
    username = $("#username").val();
    
    $.getJSON(ego_url_prefix+"/"+username, function(json){
        if (username && username != "<username>" && typeof json == "object" && json.error) {
            $("#btn").html("get it!").removeClass("primary").addClass("success");
            valid_username = username;
        } else {
            $("#btn").html("check").removeClass("primary success").addClass("danger").html("pseudonym taken!");
            valid_username = undefined;
        }
    });
}

var post_new_user = function() {
    $.post(ego_url_prefix, {username:valid_username}, function(data) {
        error = data.error;
        if (data.error)
            alert(data.error);
        console.log(data);
        if (! error.length) {
            cookies.set_cookie(data.username, data.secret);
            redirect(data.username);
        }
    }, "json");
}

var roll_ticker = function() {
    $.getJSON(discov_url+"/randomstat", function(json){
        $("#ticker").fadeOut(1000, function(){
            $("#ticker-key").text(json.key);
            $("#ticker-val").text(json.val);
            $("#ticker-score").text(json.score);
            
            $("#ticker").fadeIn(1000, function(){
                setTimeout(roll_ticker, 1500);
            });
        });
    });
}

$(document).ready(function()
{
    cookies.upgrade_cookie();
    $("#newuserform").submit(function(obj){
        username = $("#username").val();
        res = /\W/.test(username);
        
        if (res) {
            valid_username = undefined;
            $("#btn").removeClass("primary success").addClass("danger").html("Please use only letters and/or numbers");
        } else {
            if (valid_username) {
                post_new_user();
            } else {
                check_username();
            }
        }
        return false;
    });
    
    $("#btn").click(function (){
        $("#newuserform").trigger("submit");
    });
    
    $("#username").focus().keydown(function(obj){
//         if (obj.metaKey || obj.altKey || obj.ctrlKey)
//             return false;
    }).keyup(function(obj) {
        if ($(this).val().length)
            check_username();
        else
            $("#btn").html("check").removeClass("danger success").addClass("primary").html("check");
        return true;
    });
    
    for (name in cookies.get_cookie().pseudonyms) {
        $("select").append("<option>"+name+"</option>")
        $("#previous_pseudonym").show();
    }
    
    $("select").change(function(){
        redirect($(this).val());
    });
    $("#btn2").click(function(){
        redirect($("select").val());
    });
    
    $.getJSON(discov_url+"/stats", function(json){
        $("#users").html(json.users);
        $("#values").html(json.values);
    });
    
    roll_ticker();
});
</script>
{% end %}

{% block body %}

<div id="left">
    <h2>What it is</h2>
    <p>Brin.gy allows people to announce bits of information about themselves and find others based on that information. It implements an experimental protocol for human discovery, namely <b>Human Discovery Protocol</b>. HDP allows us to form dynamic groups such as the group of people interested in buying the same product, people with similar expertise, people in the same location, or any intersection of these examples.</p>
    
    <h2>Random picks</h2>
    <span id="ticker">
       <pre id="ticker-score" class="ticker-label">23</pre> people have specified their <pre id="ticker-key" class="ticker-label">sex</pre> as <pre id="ticker-val" class="ticker-label">male</pre> 
    </span>
    </p>
    
    <h2>Statistics</h2>
    <p>Users to engage with: <stat id="users" class="stat-entry"></stat></p>
    <p>Attributes to choose from: <stat id="values" class="stat-entry"></stat><p>
    <p>
    Get more statistics by doing an HTTP GET request to <code>http://satellite.brin.gy/stats</code>. The result is in JSON format and looks like this:
    <pre>
{
    "users": 80,    # number of users in the system
    "keys": 33,     # number of attributes
    "values": 189,  # total number of values assigned to attributes
    "churn": {
        "python": {
            "add": 7, # people that added "python" to their profile
            "rem": 3  # people that removed "python" from their profile
        }
    }
}</pre>
    </p>
<!--    <div class="stat-entry">
        <stat class="alert-message success left">users</stat>
        <stat id="users" class="alert-message success right"></stat>
        <span>in this system.</span>
    </div>
    <div class="stat-entry">
        <stat class="alert-message left success">attributes</stat>
        <stat id="keys" class="alert-message success right"></stat>
    </div>
    <div class="stat-entry">
        <stat class="alert-message left success">values</stat>
        <stat id="values" class="alert-message success right"></stat>
        to choose from.
    </div>-->
</div>

<div id="right">
    <div id="new_pseudonym">
        <h2>Pick a pseudonym</h2>
        <form method="post" id="newuserform">
            <input class="span2" id="username" name="username" type="text" value="" />
            <a id="btn" class="btn primary" href="#">check</a>
        </form>
    </div>
    <div id="previous_pseudonym">
        <h2>Previous pseudonyms</h2>
        <form>
            <select class="span2"></select>
            <a id="btn2" class="btn primary" href="#">choose</a>
        </form>
    </div>
</div>

{% end %}





