{% extends "base.html" %}


{% block head %}
<script language="javascript" type="text/javascript">


var ego_url_prefix = "{{ego_url_prefix}}";
var website_url_prefix = "{{website_url_prefix}}";
var valid_username = undefined;

var check_username = function()
{
    username = $("#username").val();
    
    $.getJSON(ego_url_prefix+"/"+username, function(json){
        if (username && username != "<username>" && typeof json == "object" && json.error) {
            $("#btn").html("get it!").removeClass("primary").addClass("success");
            valid_username = username;
        } else {
            $("#btn").html("check").removeClass("primary success").addClass("danger").html("pseudonym taken!");
            valid_username = undefined;
        }
    });
}

var post_new_user = function() {
    $.post(ego_url_prefix, {username:valid_username}, function(data) {
        error = data.error;
        if (data.error)
            alert(data.error);
        
        if (! error.length) {
            window.location.href = "{{website_url_prefix}}/manage/"+valid_username;
        }
    }, "json");
}

$(document).ready(function()
{
    $("#newuserform").submit(function(obj){
        username = $("#username").val();
        res = /\W/.test(username);
        
        if (res) {
            valid_username = undefined;
            $("#btn").removeClass("primary success").addClass("danger").html("Please use only letters and/or numbers");
        } else {
            if (valid_username) {
                post_new_user();
            } else {
                check_username();
            }
        }
        return false;
    });
    
    $("#btn").click(function (){
        $("#newuserform").trigger("submit");
    });
    
    $("#username").focus();
    
//     other_names = $.cookie('other_names');
//     if (typeof(other_names) == "string") {
//         other_names = other_names.split(",");
//         $("#previous_pseudonym").show();
//         for (i in other_names)
//             $("select").append("<option>"+other_names[i]+"</option>")
//     }
    for (name in cookies.get_cookie()) {
        $("select").append("<option>"+name+"</option>")
        $("#previous_pseudonym").show();
    }
    
    
    $("select").change(function(){
        window.location.href = "{{website_url_prefix}}/manage/"+$(this).val();
    });
    $("#btn2").click(function(){
        window.location.href = "{{website_url_prefix}}/manage/"+$("select").val();
    });
});
</script>
{% end %}

{% block body %}

<div id="left">
    <h2>What it is</h2>
    <p>Brin.gy implements a protocol that allows people to announce bits of information about themselves and participate in dynamic groups formed around that information. It implements an experimental protocol for human discovery, namely <b>Human Discovery Protocol</b>. HDP allows us to form dynamic groups such as the group of people interested in buying the same product, people with similar expertise, people in the same location, or any intersection of these examples.</p>
    <p>When it comes to <b>"finding the right people"</b>, we need either a user account with some sort of social networking service, or a lot of patience to sift through online forums like Craigslist. When computers look for other computers though, they are consistently effective and their results are specific because they follow well-defined protocols, like DNS. Imagine how ineffective the internet would be if every DNS server was a "walled garden" requiring computers to have an account with it, or have to engage in "chatty" conversations in an online forum in order to figure out which IP address corresponds to a hostname. This is unfortunately the reality when it comes to humans discovering and communicating with each other on the internet.</p>
</div>

<div id="right">
    <div id="new_pseudonym">
        <h2>Pick a pseudonym</h2>
        <form method="post" id="newuserform">
        <input class="text" id="username" name="username" type="text" value="" />
        </form>
        <a id="btn" class="btn primary" href="#">check</a>
    </div>
    <div id="previous_pseudonym">
        <h2>Previous pseudonyms</h2>
        <form><select></select></form>
        <a id="btn2" class="btn primary" href="#">choose</a>
    </div>
</div>

{% end %}





