{% extends "base.html" %}

{% block body %}
<style>
.date { font-size:14px; color: gray; padding-bottom:8px; }
h2 { padding-top: 10px; }
</style>

<h2>internship at Reddit</h2>
<!-- <div class="date">submitted 23 Feb 2011</div> -->

<p>Hello, </p>

<p>I'm a PhD student at MIT Media Lab and a regular redditor for about 3 months now. I find the prospect of an internship at Reddit, or a project in collaboration with Reddit especially fascinating.</p>

<p>What I do:<br />
I have a passion for technologies that allow people to discover and communicate with each other. I currently work on a decentralized system that allows users to form, in real-time, dynamic groups around their location, a product they want to buy, beliefs they may have, or any other indexable type of information and any combination of these variables.</p>

<p>What I've done:<br />
In the past, I have interned at Ferrari (Maranello, Italy) where I designed and demonstrated a seat mechanism that absorbs the effects of acceleration on the human body during fast gear shifts and at IBM Research (Hawthorne, NY) where I implemented a web app that uses internal social network tools to discover employees with specific knowledge from a pool of about 400,000 employees. </p>

<p>What I'd like to do with Reddit:<br />
While I have some ideas of my own, I would be very open to discuss and take on any challenge that Reddit might have at the moment and I am sure there must be many. I have basically three suggestions for a summer project:<br />
a) Adding geo-location capabilities to each post using HTML5, which would generate a rich dataset to visualize information about users/posts.<br />
b) A tool that performs analytics on the relation between users, posts and subreddits, with the potential of providing suggestions based on previous upvotes/downvotes.<br />
c) Visualizations showing karma over time for users and posts and a 2-D interactive map of trending posts in different subreddits.</p>

<p>I have strong python, web development and computer network skills. Please find my resume <a href="http://ego.media.mit.edu/ego/static/ppy.pdf">here</a>.</p>

<p>I am looking forward to discussing with you further how I could be of benefit to Reddit.</p>

<p>Best:<br />
Pol</p>

-- <br />
Polychronis Ypodimatopoulos<br />
Viral Spaces + Information Ecology<br />
MIT Media Lab<br />
<a href="http://polychronis.gr">http://polychronis.gr/</a>



{% end %}
