{% extends "base.html" %}

{% block head %}
{% autoescape None %}

<script language="javascript" type="text/javascript">

///////////////////////////////////
//////        START SUGGESTION BOX

suggestion_box = {};
suggestion_box.data = {};

suggestion_box.fetch_data = function(key, val, obj)
{
    val = val.toLowerCase();
    
    $.getJSON(E.satellite.url+"/profile/complete/"+key+"/"+val, function(json){
        suggestion_box.data = {};
        for (i in json.matches) {
            val = json.matches[i][0];
            card = json.matches[i][1];
            suggestion_box.data[val] = card;
        }
        suggestion_box.show_suggestions(obj);
    });
};

suggestion_box.show_suggestions = function(obj)
{   
    if( ! $("#dropdown").length ) {
        offset = obj.offset();
        _top = offset.top + obj.height() + 10;
        _left = offset.left;
        width = 100;
        
        css = {top:_top, left:_left, border:"1px solid #dddddd", backgroundColor:"white"};
        dropdown = $("<div id='dropdown'></div>").css(css).addClass("flying medium");
        $("body").append(dropdown);
    }
    
    $("#dropdown").empty();
    
    for (sug in suggestion_box.data) {
        val = $("<a></a>").html(sug).attr("sug",sug).addClass("suggestionVal");
        val.click(function(){
            obj.val($(this).attr("sug"));
            obj.trigger("keydown", [{obj:{keyCode:13}}]);
            return false;
        });
        card = $("<span></span>").html(suggestion_box.data[sug]).addClass("label suggestionCard");
        entry = $("<div></div>").addClass("suggestionEntry");
        entry.append(val).append(card);
        $("#dropdown").append(entry);
    }
};

suggestion_box.hide_suggestions = function(obj)
{
//     console.log( "closing" );
    $("#dropdown").remove();
};


Object.size = function(obj) {
    var size = 0, key;
    for (key in obj) {
        if (obj.hasOwnProperty(key)) size++;
    }
    return size;
};

//////        END SUGGESTION BOX
////////////////////////////////



// sdata example:
// profile = {
//      languages: {
//              selected: false,
//              display: true,
//              cnt: 109,
//              matches: {},
//              values: {
//                      greek: {
//                              cnt: 9,
//                              haveit: true,
//                              selected: false,
//                              display: true,
//                              matches: {},
//                      },
//              },
//      },
// }

attr_manager = {};
attr_manager.cache = {};
attr_manager.sdata = {
    profile:{},
    location:{
        "my location":{cnt:0, values:{}, selected:0, display:true, matches:{}},
//         "destination":{},
    },
//     buysell:{
//         "product":{},
//     },
};

attr_manager.add_sdata = function(cap, key, cnt) {
    if (cap==undefined || key==undefined || cnt==undefined){
        console.log("*** add_sdata: undefined var:", cap, key, cnt);
        return;
    }
    if (attr_manager.sdata[cap] == undefined)
        attr_manager.sdata[cap] = {};
    
    attr_manager.sdata[cap][key] = {cnt:0, values:{}, selected:0, display:true, matches:{}};
}

attr_manager.hide_keyvals = function(){
    for (cap in this.sdata) {
        for (key in this.sdata[cap]){
            attr_manager.sdata[cap][key].display = false;
            for (val in this.sdata[cap][key].values){
                attr_manager.sdata[cap][key].values[val].display = false;
            }
        }
    }
}

attr_manager.show_keyvals = function(){
    for (cap in this.sdata) {
        for (key in this.sdata[cap]){
            attr_manager.sdata[cap][key].display = true;
            for (val in this.sdata[cap][key].values){
                attr_manager.sdata[cap][key].values[val].display = true;
            }
        }
    }
}

attr_manager.deselect_keyvals = function(){
    for (cap in this.sdata) {
        for (key in this.sdata[cap]){
            attr_manager.sdata[cap][key].selected = false;
            for (val in this.sdata[cap][key].values){
                attr_manager.sdata[cap][key].values[val].selected = false;
            }
        }
    }
}

E = {};
E.monitor = {
    "user_matches":{
        "by_keyval": {},
        "intersection": [],
    },
};

E.previous_intersection = {};
// holds the first list of intersected agents among two consecutive
// intersection polls, so that the intersection and difference between
// the consecutive lists can be found fast and have the results list 
// change accordingly without resetting the whole list.

E.satellite = {};
E.satellite.url = "{{discov_url}}";
E.agent = {};
E.agent.id = "{{args}}";
E.agent.baseurl = "{{ego_url_prefix}}";
E.agent.url = "{{ego_url_prefix}}/{{args}}";
E.website_url = "{{website_url_prefix}}";

E.post_keyval = null;
// save key/val to agent.
E.delete_keyval = null;
// delete key/val to agent

// E.generate_entry = null;
// generates UI profile element. 
// Arguments: key, val (optional for new pairs)

E.set_matches = null;
// animates the counter button of intersected matches to target value

E.populate_attrs = null;
// Show available attributes tab on left pane. Uses values stored in E.monitor 

E.poll_matches = null;
E.fetch_keyvals = null;
// fetch next batch of profiles attributes. 
// Uses E.caps to store fetched attributes.
E.last_fetched = ""; 
// keeps track of the last attribute fetched to continue from the next one

///////////////////////////////////////////////


E.post_keyval = function(cap, key, val, clb) {
    data = JSON.stringify([[key, val]]);
    if (clb == undefined)
        clb = function(json){
            console.log("post", json);
        }
    $.post(E.agent.url+"/"+cap, {data:data}, clb, "json");
}

E.delete_keyval = function(cap, key, val, clb) {
    if (clb == undefined)
        clb = function(json){
            console.log("post", json);
        }

    data = JSON.stringify([[key, val]]);
    $.ajax({
        type: "DELETE",
        url: E.agent.url+"/"+cap,
        data: {data:data},
        success: clb,
        dataType: "json",
    });
}


E.populate_map = function(obj) {
//     console.log(" ");
//     console.log("populate_map");
    
    for (agent in obj) {
        exists = mapman.validateMarker(agent);
        if (!exists) {
            lat = obj[agent].lat;
            lon = obj[agent].lon;
            
            var latlng = new google.maps.LatLng(lat, lon);
            
//             console.log("adding marker", agent);
            mapman.addMarker(agent, latlng);
        }
    }
    
    mapman.hideInvalidMarkers();
    
    if (E.reset_map_bounds) {
        //  Create a new viewpoint bound
        var bounds = new google.maps.LatLngBounds();
        //  Go through each...
        for (aid in mapman.markers)
            bounds.extend(mapman.markers[aid].position);
        //  Fit these bounds to the map
        mapman.map.fitBounds(bounds);
        E.reset_map_bounds = false;
    }
}

E.set_matches = function(stop) {
    if (stop == undefined)
        stop = parseInt($("#matches").attr("curpos"));
    else {
        $("#matches").attr("curpos", stop);
        $("title").html("Brin.gy ("+stop+")");
    }
    
    start = parseInt($("#matches").html());
    step = 1;
    if (Math.abs(start-stop) > 10) { step = 10 }
    if (Math.abs(start-stop) > 100) { step = 100 }
    if (Math.abs(start-stop) > 1000) { step = 1000 }
    if (start > stop) {
        $("#matches").html(start-step);
        setTimeout(E.set_matches, 20);
    }
    if (start < stop) {
        $("#matches").html(start+step);
        setTimeout(E.set_matches, 20);
    }
}

E.handle_key_click = function(){
    cap = $(this).attr("cap");
    key = $(this).attr("key");
    
    pressed = $(this).hasClass("pressed");
    attr_manager.sdata[cap][key].selected = !pressed;
    if (pressed) {
        $(this).removeClass("pressed");
    } else {
        $(this).addClass("pressed");
        $(this).siblings("div").children().children().removeClass("pressed");
        for (val in attr_manager.sdata[cap][key].values)
            attr_manager.sdata[cap][key].values[val].selected = false;
    }
    E.poll_matches(cap);
    E.reset_map_bounds = true;
    return false;
}

E.handle_val_click = function(){
    cap = $(this).attr("cap");
    key = $(this).attr("key");
    val = $(this).attr("val");
    
    pressed = $(this).hasClass("pressed");
    attr_manager.sdata[cap][key].values[val].selected = !pressed;
    if (pressed) {
        $(this).removeClass("pressed");
    } else {
        $(this).addClass("pressed");
        $(this).parent().parent().siblings("a").removeClass("pressed");
        attr_manager.sdata[cap][key].selected = false;
    }
    E.poll_matches(cap);
    E.reset_map_bounds = true;
    return false;
}

E.handle_userattr_toggle =function(){
    var cap = $(this).attr("cap");
    var key = $(this).attr("key");
    var val = $(this).attr("val");
    button = $(this);
    
    complete_toggle_handle = function(button) {
        
        haveit = !attr_manager.sdata[cap][key].values[val].haveit;
//         console.log(cap,key,val,haveit);
        attr_manager.sdata[cap][key].values[val].haveit = haveit;
        if (haveit) {
            E.post_keyval(cap, key, val, function(){
                button.html("\u2713").popover("hide").css("background-color","");
                
                confirmation = $(".confirmation").html("added to your profile!");
                confirmation.addClass("success").removeClass("important").show();
                confirmation.offset(button.offset());
                
                confirmation.animate({"left":"+=30px","top":"-=50px"}, "slow", function(){ 
                    $(this).animate({"left":"+=0px"}, function(){
                        $(this).hide();
                    });
                });
            });
        } else {
            E.delete_keyval(cap, key, val, function(json){
                button.html("\u00A0").popover("hide").css("background-color","");
                
                confirmation = $(".confirmation").html("removed");
                confirmation.addClass("important").removeClass("success").show();
                confirmation.offset(button.offset());
                
                confirmation.animate({"left":"+=30px","top":"-=50px"}, "slow", function(){ 
                    $(this).hide();
                });
            });
        }
    }
            
    location_clb = function(result) {
        modal = $("#modal-from-dom");
        clearTimeout(E.modal_timer);
        modal.modal("hide");
        val = JSON.stringify({lat:""+result.lat,lon:""+result.lon});
        
        latlng = new google.maps.LatLng(result.lat, result.lon);
        geogy.geocoder.geocode({'latLng': latlng}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                key = "my location";
                formatted = results[1].formatted_address;
                console.log('formatted address:', formatted, key);
                
                attr_manager.sdata.location[key].values[val] = {
                    cnt:0, 
                    selected:false,
                    display:true,
                    haveit:false, 
                    matches:[],
                    formatted: formatted,
                };
            } else {
                alert("Geocoder failed due to: " + status);
            }
            
            console.log(attr_manager.sdata.location["my location"].values[val].haveit);
            button.siblings().children("span.value").html(formatted);
            complete_toggle_handle(button);
        });
        
        E.populate_map(result);
    }
    
    haveit = attr_manager.sdata[cap][key].values[val].haveit;
    if (cap == "location") {
        if (haveit == false) {
            geogy.init(location_clb);
            
            show_modal = function() {
                modal = $("#modal-from-dom");
                modal.modal({backdrop:"static", show:true, keyboard:true});
                
                $("#modal-cancel-btn").click(function(){
                    modal.bind('hidden', function(){
                        console.log("going to",E.website_url+"/manage/asdf");
                        console.log("should go to", window.location);
    //                     location.replace(E.website_url+"/manage/asdf");
                    });
                    modal.modal("hide");
                });
            }
            E.modal_timer = setTimeout(show_modal, 500);
        } else {
            button.siblings().children("span.value").html("");
            complete_toggle_handle(button);
        }
    } else {
        complete_toggle_handle(button);
    }
    return false;
}

E.handle_userattr_hover_in = function(){
    cap = $(this).attr("cap");
    key = $(this).attr("key");
    val = $(this).attr("val");
    
    color = "green";
    text = "+";
    if (attr_manager.sdata[cap][key].values[val].haveit) {
        color = "red";
        text = "-";
    }
    
    $(this).html(text).css("background-color",color);
};

E.handle_userattr_hover_out = function(){
    cap = $(this).attr("cap");
    key = $(this).attr("key");
    val = $(this).attr("val");
    
    text = "\u00A0";
//     console.log("hoverout:",cap,key,val,attr_manager.sdata[cap][key].values[val].haveit);
    if (attr_manager.sdata[cap][key].values[val].haveit) {
        text = "\u2713";
    }
    $(this).html(text).css("background-color","");
}

E.generate_key_entry = function(capname, attr) {
    // attr_counters class is used to group and iterate through all attribute counters
    count = $("<span></span>").addClass("count attr_counters");
    count.html(attr_manager.sdata[capname][attr].cnt);
    count.attr({uitype:"sat_attribute", cap:capname, key:attr});
    
    attribute = $("<span></span>").html(attr);
    pair = {cap:capname, key:attr};
    var keypart = $("<a href='#'></a>").append(attribute);
    keypart.append(count).attr(pair);
    keypart.click(E.handle_key_click);
    
    if (attr_manager.sdata[capname][attr].selected)
        keypart.addClass("pressed");
        
    return keypart;
}

E.generate_val_entry = function(capname, attr, val) {
    
    count = $("<span></span>").addClass("count attr_counters");
    count.html(attr_manager.sdata[capname][attr].values[val].cnt);
    count.attr({
        uitype:"user_attribute", cap:capname, key:attr, val:val,
    });
    count.addClass("attr_counters").attr(attr);
    count.twipsy({title:function(){
        cap = $(this).attr("cap");
        key = $(this).attr("key");
        val = $(this).attr("val");
        cnt = attr_manager.sdata[cap][key].values[val].cnt;
        text = " people";
        if (cnt == 1)
            text = " person";
        return cnt+text;
    }, placement:"left", offset:5});
    
    
    formatted = val;
    
    if (capname=="location" && attr=="my location") {
        address = attr_manager.sdata[capname][attr].values[val].formatted;
        if (address == undefined)
            formatted = "";
        else
            formatted = address;
    }
    
    if (formatted.length > 10)
        formatted = formatted.substring(0,8)+"...";
        
    value = $("<span class='value'></span>").html(formatted);
    
    pair = {cap:capname, key:attr, val:val};
    value_pill = $("<a href='#'></a>").attr(pair).click(E.handle_val_click);
    value_pill.append(count).append(value);
    
    if (attr_manager.sdata[capname][attr].values[val].selected)
        value_pill.addClass("pressed");
    
    // ****** add_btn ****** add_btn ****** add_btn ******
    add_btn = $("<span class='add_btn' title='the title' data-content='the content'></span>").attr(pair);
    
    add_btn.click(E.handle_userattr_toggle);
    
    // ****** HOVER ****** HOVER ****** HOVER ******
    add_btn.hover(E.handle_userattr_hover_in, E.handle_userattr_hover_out);
    
    text = "\u00A0";
    if (attr_manager.sdata[capname][attr].values[val].haveit) {
        text = "\u2713";
    }
    
    // ****** POPOVER ****** POPOVER ****** POPOVER ******
    add_btn.html(text).popover({title:function(){
        return $(this).attr("key")+": "+$(this).attr("val");
    }, content:function(){
        cap = $(this).attr("cap");
        key = $(this).attr("key");
        val = $(this).attr("val");
        
        if (attr_manager.sdata[cap][key].values[val].haveit)
            return "Remove this from your profile.";
        else
            return "Add this to your "+cap;
    }, offset:15});
    
    value_container = $("<div class='valcontainer'></div>");
    value_container.append(value_pill).append(add_btn);
    return value_container;
}

E.generate_val_entry_editor = function(attr) {
    editor = $("<form class='editor' title='new value' data-content='the content'></form>");
    editbox = $("<input type='text' class='span2' class='editbox' />");
    editor.attr("key",attr);
    editbox.attr("key",attr);
    editbox.popover({title:function(){
        return $(this).attr("key");
    }, content:function(){
        key = $(this).attr("key");
        val = $(this).attr("val");
        if (val) {
            test = (val in attr_manager.sdata.profile[key].values);
            html = $("<div>"+val+":"+test+"</div>");
            if (test)
                html.html(val+": already exists").addClass("error");
            else
                html.html('press enter to save "<b>'+val+'</b>"');
            return html;
        }
        return 'Type new "'+$(this).attr("key")+'" entry';
    }, offset:15, html:true, animate:false, trigger:"focus"});
    editbox.keydown(function(obj){
        if (obj.keyCode == 8)
            val = $(this).val().substr(0,$(this).val().length-1);
        else if (obj.keyCode != 13)
            val = $(this).val()+String.fromCharCode(obj.keyCode);
        else
            val = "";
        val = val.toLowerCase();
        $(this).attr("val",val);
        $(this).popover('show');
    });
    editor.submit(function(){
        cap = "profile";
        key = $(this).attr("key");
        val = $(this).children("input").val();
        console.log("submitting", cap, key, val);
        test = (val in attr_manager.sdata.profile[key].values);
        if (!test) {
            attr_manager.sdata[cap][key].values[val] = {
                cnt:0, 
                selected:0,
                display:true,
                haveit:true, 
                matches:{},
            };
            
            console.log(attr_manager.sdata.profile.name);
            
            value_container = E.generate_val_entry("profile", key, val);
            $(this).before(value_container);
            that = this;
            E.post_keyval(cap, key, val, function(){
                console.log("added", key, val);
                $(that).children("input").val("");
            });
        }
        return false;
    });
    editor.html(editbox);
    return editor;
}

E.populate_attrs = function(useEditor) {
    
    if (useEditor == undefined)
        useEditor = true;
        
    $("#choices").empty();

    for (capname in attr_manager.sdata) {

        app = $("<div></div>").addClass("clear");
        $("#choices").append(app).addClass("");
        for (attr in attr_manager.sdata[capname]) {
            
            if (attr_manager.sdata[capname][attr].display == false)
                continue;
            
            keypart = E.generate_key_entry(capname, attr);
            valpart = $("<div class='valpart'></div>");
            
            for (val in attr_manager.sdata[capname][attr].values) {
                if (attr_manager.sdata[capname][attr].values[val].display == false)
                    continue;
                value_container = E.generate_val_entry(capname, attr, val);
                valpart.append(value_container);
            }
            
            if (capname=="profile" && useEditor==true) {
                editor = E.generate_val_entry_editor(attr);
                valpart.append(editor);
            }
            
            pill = $("<pill></pill>").append(keypart).append(valpart);
            
            app.append(pill);
        }
        
        // specifically for profile, add a pill for new keys
//         if (capname == 'profile') {
//             pill_content = $("<a href='#'>create new attribute...</a>").attr("cap",capname).click(E.add_new_attribute);
//             pill = $("<li class='green_pill'></li>").append(pill_content);
//             $("#choices").append(pill);
//         
//             more = $("<a href='#'>fetch more...</a>").click(function(){
//                 E.fetch_keyvals();
//                 return false;
//             });
//             $("#choices").append(more);
//         }
    }
}

//////////////////////////////////////////////////



//////////////////////////////////////////////////

E.construct_result_enty = function(agent) {
    picture = attr_manager.cache[agent].profile.picture;
    
    pic = $("<img src='"+picture+"' width=20 style='float:left; clear:left;' />");
    username = $("<span style='margin-left:5px'></span>").html(agent);
    entry = $("<a href='#'></a>").append(pic).append(username);
    entry.attr({agent:agent});
    entry.click(function(){
        agent = $(this).attr("agent");
        selected = $(this).hasClass("pressed");
        
        if (selected) {
            $(this).removeClass("pressed");
            attr_manager.show_keyvals();
            $("#userinfo").slideUp();
            
//             _h = $("#choices").height();
//             $("#choices").height(_h+80);
            useEditor = true;
        } else {
            $('#results a').removeClass("pressed");
            $(this).addClass("pressed");
            
            $("#userinfo").html("User: "+agent).slideDown();
            
//             _h = $("#choices").height();
//             $("#choices").height(_h-80);
            
            profile = attr_manager.cache[agent].profile;
            
            attr_manager.hide_keyvals();
            
            for (k in profile) {
                if (attr_manager.sdata.profile[k])
                    attr_manager.sdata.profile[k].display = true;
                else
                    continue;
                
                detail = $("<div></div>").html(k+":");
                for (val in profile[k]) {
                    attr_manager.sdata.profile[k].values[val].display = true;
                    detail.append(", "+val);
                }
            }
            useEditor = false;
        }

        E.populate_attrs(useEditor);
        
        if (E.location_engaged)
            mapman.highlightMarker(agent);
        
        return false;
    });
    return entry;
}

E.get_multi_profile = function(agents) {
    $.getJSON(E.agent.baseurl+"/batch_profile", {data:JSON.stringify(agents)}, function(json){
        for (agent in json.profiles) {
            
            profile = {};
            for (i in json.profiles[agent].data) {
                key = json.profiles[agent].data[i].key;
                val = json.profiles[agent].data[i].val;
                if (profile[key] == undefined)
                    profile[key] = {};
                profile[key][val] = 1;
            }
            
            picture = "http://pldb.media.mit.edu/research/images/nophoto.gif";
            if ("company" in profile && "Media Lab" in profile["company"])
                picture = "http://pldb.media.mit.edu/face/"+agent;
            if ("picture" in profile)
                for (val in profile.picture)
                    picture = profile.picture.val;
            
            if (profile.picture==undefined || profile.picture.length==0)
                profile.picture = [picture];
            
            if (attr_manager.cache[agent] == undefined)
                attr_manager.cache[agent] = {};
            attr_manager.cache[agent].profile = profile;
        }

    
//         if (E.location_engaged) {
            $.getJSON(E.agent.baseurl+"/batch_location", {data:JSON.stringify(agents)}, function(json){
                
                for (agent in json.locations) {
                    locobj = json.locations[agent];
                    
                    if (attr_manager.cache[agent] == undefined)
                        attr_manager.cache[agent] = {};
                    attr_manager.cache[agent]["location"] = locobj;
                }
                E.populate_map(json.locations);
            });
//         }
        
        agentsobj = {};
        for (i in agents) {
            agent = agents[i];
            agentsobj[agent] = 1;
            if (E.previous_intersection[agent]==undefined) {
                entry = E.construct_result_enty(agent);
                $("#results").append(entry);
                E.previous_intersection[agent] = 1;
            }
        }
        
        for (agent in E.previous_intersection) {
            if (agentsobj[agent]==undefined) {
                $('a[agent="'+agent+'"]').slideUp().remove();
                delete E.previous_intersection[agent];
            }
        }
    });
}

E.get_multi_location = function(agents) {
    if (agents.length > 0) {
        $.getJSON(E.agent.baseurl+"/batch_location", {data:JSON.stringify(agents)}, function(json){
            $("#results").empty();
            for (agent in json.locations) {
                obj = json.locations[agent];
                
                picture = "http://pldb.media.mit.edu/research/images/nophoto.gif";
                entry = E.construct_result_enty(agent, picture, obj);
                $("#results").append(entry);
            }
            E.populate_map(json.locations);
        });
    } else {
        $("#results").empty();
        mapman.deleteOverlays();
    }
}

E.poll_matches = function(capname) {
    btnclicked = 0;
    query = [];
    
    for (cap in attr_manager.sdata)
        for (key in attr_manager.sdata[cap]) {
            query.push([cap, key, ""]);
            for (val in attr_manager.sdata[cap][key].values) {
                query.push([cap, key, val]);
            }
        }
    
    data = JSON.stringify(query);
    
    $.getJSON(E.satellite.url+"/multimatch", {data:data}, function(json){
        E.monitor.user_matches.by_keyval = {};
        
        for (i in json.matches) {
            
            match = json.matches[i];
            
            cap = match[0];
            key = match[1];
            val = match[2];
            cnt = match[3];
            matches = match[4];
            
            if (val.length > 0) {
                attr_manager.sdata[cap][key].values[val].cnt = cnt;
                attr_manager.sdata[cap][key].values[val].matches = matches;
            } else {
                attr_manager.sdata[cap][key].cnt = cnt;
                attr_manager.sdata[cap][key].matches = matches;
            }
        }
        
        test_intersection = {};
        target_count = 0
        
        E.location_engaged = false;
        
        E.match_criteria = [];
        for (cap in attr_manager.sdata) {
            for (key in attr_manager.sdata[cap]) {
                for (val in attr_manager.sdata[cap][key].values) {
                    if (attr_manager.sdata[cap][key].values[val].selected) {
                        if (cap == "location")
                            E.location_engaged = true;
                        E.match_criteria.push([cap, key, val]);
                        for (i in attr_manager.sdata[cap][key].values[val].matches) {
                            agent = attr_manager.sdata[cap][key].values[val].matches[i];
                            if (test_intersection[agent] == undefined)
                                test_intersection[agent] = 0;
                            test_intersection[agent] += 1;
                        }
                        target_count += 1;
                    }
                }
                if (attr_manager.sdata[cap][key].selected) {
                    if (cap == "location")
                        E.location_engaged = true;
                    E.match_criteria.push([cap, key, ""]);
                    for (i in attr_manager.sdata[cap][key].matches) {
                        agent = attr_manager.sdata[cap][key].matches[i];
                        if (test_intersection[agent] == undefined)
                            test_intersection[agent] = 0;
                        test_intersection[agent] += 1;
                    }
                    target_count += 1;
                }
            }
        }

        mapman.invalidateMarkers();
        if (capname != undefined) {
            E.update_monitor();
        }
        
        intersection = [];
        for (match in test_intersection)
            if (test_intersection[match] == target_count) {
//                 if (match != E.agent.id)
                    intersection.push(match);
            }
        
        
        if (intersection.length > 0) {
            E.get_multi_profile(intersection);
        } else {
            $("#results").empty();
//             if (E.location_engaged)
                mapman.deleteOverlays();
        }
        
        
        E.monitor.user_matches.intersection = intersection;
        E.set_matches(Object.size(intersection));
        
        $(".attr_counters").each(function(){
            if ($(this).attr("uitype") == "sat_attribute") {
                cap = $(this).attr("cap");
                key = $(this).attr("key");
                $(this).html(attr_manager.sdata[cap][key].cnt);
            }
            
            if ($(this).attr("uitype") == "user_attribute") {
                cap = $(this).attr("cap");
                key = $(this).attr("key");
                val = $(this).attr("val");
                
                if (attr_manager.sdata[cap][key] == undefined ||
                    attr_manager.sdata[cap][key].values[val] == undefined) {
                    $(this).remove();
                    cnt = 0;
                } else {
                    cnt = attr_manager.sdata[cap][key].values[val].cnt;
                    $(this).html(cnt);
                }
            }
        });
    });
}

E.fetch_keyvals = function(clb) {
    starting_from = E.last_fetched;
    
    if (E.last_fetched.length)
        console.log("continuing from", E.last_fetched);
    
    data = JSON.stringify({with_values:1, user:E.agent.id});
    
    $.getJSON(E.satellite.url+"/profile/fetch/"+starting_from, {data:data}, function(json){
//         console.log("fetch", json);
        for (attribute in json.matches) {
            attr_manager.add_sdata("profile", attribute, 0);
            for (i in json.matches[attribute]) {
                val = json.matches[attribute][i][0];
                cnt = json.matches[attribute][i][1];
                haveit = json.matches[attribute][i][2];

                attr_manager.sdata.profile[attribute].values[val] = {
                    cnt:cnt, 
                    selected:0,
                    display:true,
                    haveit:haveit, 
                    matches:{},
                };
            }
            E.last_fetched = attribute;
        }
    });
    
    // I should get all possible keys from the satellite,
    // let's fix it to "my location" for now.
    key = "my location";
    $.getJSON(E.satellite.url+"/location/fetch/"+E.agent.id+"/"+key, function(json){
        val = {lat:json.lat, lon:json.lon};
        valstr = JSON.stringify(val);
        key = "my location";
        attr_manager.add_sdata("location", key, 0);
        
        if (json.lat.length && json.lon.length) {
            latlng = new google.maps.LatLng(json.lat, json.lon);
            console.log("CREATE GEOCODER");
            geocoder = new google.maps.Geocoder();
            console.log("CALLING GEOCODER", latlng);
            geocoder.geocode({'latLng': latlng}, function(results, status) {
                console.log("IN GEOCODER");
                if (status == google.maps.GeocoderStatus.OK) {
                    key = "my location";
                    formatted = results[1].formatted_address;
                    console.log('formatted address:', formatted);
                    
                    console.log('debug:', key, attr_manager.sdata.location);
                    console.log(attr_manager.sdata.location[key]);
                    
                    attr_manager.sdata.location[key].values[valstr] = {
                        cnt:json.count, 
                        selected:0, 
                        display:true, 
                        haveit:true, 
                        matches:json.matches,
                        formatted: formatted,
                    };
                } else {
                    alert("Geocoder failed due to: " + status);
                }
                clb();
            });
        } else {
            attr_manager.sdata.location[key].values[valstr] = {
                cnt:json.count, 
                selected:0, 
                display:true, 
                haveit:false, 
                matches:json.matches,
            };
            clb();
        }
    });
}

E.update_monitor = function() {
//     console.log(E.match_criteria);
    if (window.location.search == "?control") {
//         query = [];
//         for (cap in attr_manager.udata)
//             for (key in attr_manager.udata[cap])
//                 for (val in attr_manager.udata[cap][key]) {                
//                     if (attr_manager.udata[cap][key][val].selected == 1)
//                         query.push([cap, key, val]);
//                 }
        data = JSON.stringify(E.match_criteria);
//         console.log(data);
        $.post(E.agent.baseurl+"/controller", {data:data, controller:E.agent.id}, function(json){
            console.log("controller post:", json);
        }, "json");
    };
    return false;
}


var show_delete_modal = function() {
    modal = $("#delete-confirmation-modal");
    modal.modal({backdrop:"static", show:true, keyboard:true});
    
    $("#delete-cancel-btn").click(function(){
        modal.modal("hide");
    });
    $("#delete-delete-btn").click(function(){
        modal.bind('hidden', function(){
            console.log("deleting", E.agent.url);
            $.ajax({
                url: E.agent.url,
                type: "DELETE",
                success: function(json) {
                    console.log("delete response", json);
                    location.replace(E.website_url);
                },
                dataType: "json",
            });
        });
        modal.modal("hide");
        cookies.del_cookie(E.agent.id);
    });
}

E.resize_overflow_divs = function(){
    offset = $("#choices").offset();
    dheight = $(document).height();
    $("#choices").height(dheight - offset.top - 40);
    $("#results").height(dheight - offset.top + 10);
    $("#map_canvas").height(dheight - offset.top + 10);
}
//////////////////////////////////////////////////
////////////////     ON READY

$(document).ready(function()
{
    $.getJSON(E.agent.url, function(json){
        if (json.error == "invalid user "+E.agent.id)
            location.replace(E.website_url);
    });
    
    clb = E.populate_attrs;
    E.fetch_keyvals(clb);
    
    $("#match_btn").click(function(){
        console.log(E.match_criteria);
        return false;
    });
    
    setInterval(E.poll_matches, 2000); 
    
    $("#delete_btn").show().click(show_delete_modal);
    $("#pseudonym").show();
    
    cookies.set_cookie(E.agent.id);
    
    $("nav a").click(function (){
        first_child_selected = $("nav a:first-child").hasClass("selected");
        if (first_child_selected) {
            $("nav a:first-child").removeClass("selected");
            $("nav a:last-child").addClass("selected");
        } else {
            $("nav a:first-child").addClass("selected");
            $("nav a:last-child").removeClass("selected");
        }
        return false;
    });
    
    E.resize_overflow_divs();
    
    mapman.initialize();
    
    $("#searchinput").focus().keydown(function(obj) {
        attr_manager.deselect_keyvals();
        
        if (obj.keyCode == 13)
            text = $(this).val();
        else if (obj.keyCode == 8)
            text = $(this).val().substr(0, $(this).val().length-1);
        else if (obj.keyCode==32 || (obj.keyCode>64 && obj.keyCode<91))
            text = $(this).val()+String.fromCharCode(obj.keyCode);
        else
            return false;
        
        $(this).attr("key",text.toLowerCase());
        $(this).popover("show");
        
        re = new RegExp(text, 'i');
        no_match_found = true;
        for (cap in attr_manager.sdata)
            for (key in attr_manager.sdata[cap]) {
                if (key.match(re)) {
                    no_match_found = false;
                    attr_manager.sdata[cap][key].display = true;
                } else {
                    attr_manager.sdata[cap][key].display = false;
                }   
                E.populate_attrs();
            }
        
    }).popover({content:function(){
        key = $("#searchinput").attr("key");
        html = $("<div></div>");
        
        if (key == undefined || key.length == 0)
            return "Search or enter new attribute";
            
        if (key in attr_manager.sdata.profile) {
            html.html(key+": already exists").addClass("error");
        } else
            html.html('press enter to add "<b>'+key+'</b>"');
            
        return html;
    }, offset:15, html:true, animate:false, trigger:"focus"});
    
    $("#searchbox").submit(function(){
        searchinput = $(this).children("input");
        newkey = searchinput.val();
        if (newkey in attr_manager.sdata.profile)
            console.log("already exists", newkey );
        else {
            searchinput.popover("hide").val("").attr("key","");
            attr_manager.show_keyvals();
            E.populate_attrs(true);
            
            cap = "profile";
            attr_manager.add_sdata(cap, newkey, 0);
            
            keypart = E.generate_key_entry(cap, newkey);
            editor = E.generate_val_entry_editor(newkey);
            valpart = $("<div class='valpart'></div>").append(editor);
            
            pill = $("<pill></pill>").append(keypart).append(valpart);
            $("#choices").children("div:first-child").prepend(pill);
            editor.children("input").focus();
        }
        return false;
    });
    
//     $(window).resize(E.resize_overflow_divs);
});


</script>
{% end %}
{% block body %}

<div id="left-panel" class="span5">
    <!--<nav class="">
        <a href="#" class="selected">search</a>
        <a class="" href="#">me</a>
    </nav>-->
    <form id="searchbox">
        <div class="help-block">search or add new attribute</div>
        <input type="text" id="searchinput" class="span5" title='add new attribute' data-content='press enter to add this attribute' />
    </form>
    <div id="userinfo"></div>
    <div id="choices"></div>
</div>
<div id="right-panel" class="">            
    <div id="results" class="span3"></div>
    <div id="map_canvas" class=""></div>
    <button id="match_btn" class="btn info">
        <div id="matches" curpos="0">0</div>
        <div id="matches_caption">people match</div>
    </button>
</div>



<div id="modal-from-dom" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>Currentt Location</h3>
    </div>
    <div class="modal-body">
        <p>To find others near you, please choose to share your location above.</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn danger" id="modal-cancel-btn">Cancel</a>
    </div>
</div>


<div id="delete-confirmation-modal" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>What?! Are you sure?</h3>
    </div>
    <div class="modal-body">
        <p>You understand that this is <b>not</b> Facebook,<br> if you delete this agent all associated data will <b>actually</b> be deleted ;)</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn danger" id="delete-delete-btn">Trash everything</a>
        <a href="#" class="btn primary" id="delete-cancel-btn">Cancel</a>
    </div>
</div>



<div class='confirmation label'></div>


{% end %}




