{% extends "base.html" %}

{% block head %}
<script language="javascript" type="text/javascript">

var discov_url = "{{discov_url}}";
var ego_url_prefix = "{{ego_url_prefix}}";
var agent_id = "{{args}}";
var agent_url = ego_url_prefix+"/{{args}}";
var capabilities = {};
var manager = {};
var path = {{path}};

var valid_caps = {
    "profile":1,
    "friends":0,
    "location":1,
    "buysell":1,
    "like":0,
    "dating":0,
    "charms":0,
    "iptracker":0,
    "miralax":0,
    "tags":0,
};
    
var invalid_profile_items = {
//     "supervisor":1,
//     "first_name":1,
//     "last_name":1,
//     "id":1,
//     "ml_title":1,
//     "user_type":1,
//     "display_web":1,
//     "employee":1,
//     "pi":1,
//     "user_name":1,
//     "outside_ra":1,
//     "status":1,
//     "mit_title":1,
//     "assistant":1,
//     "affiliation_primary":1,
//     "affiliation_secondary":1,
//     "student":1,
//     "web_code":1,
//     "agenda_title":1,
//     "bio":1,
//     "rf_id":1,
//     "office_phone":1,
//     "office_room":1,
//     "affiliation":1,
//     "picture":1,
//     "picture_url":1,
    
};

function callfunc(func){
    if (this[func] == undefined)
        console.log(func);
    this[func].apply(this, Array.prototype.slice.call(arguments, 1));
}

function insert_profile_entry(entries, username, key, val)
{
    k = $("<input type='text' id='prof_key_"+key+"' class='prof_entry' name='key' value='"+key+"' />");
    v = $("<input type='text' id='prof_val_"+val+"' class='prof_entry' name='val' value='"+val+"' />").keypress(function(event){
        if ( event.which == 13 ) {
            event.preventDefault();
            newval = $(this).val() + String.fromCharCode(event.which);
            
            $.getJSON(discov_url, {}, function(json){
                console.log(json);
            });
        }
    });
    
    imgsrc = "{{ static_url('images/other/close-button-red.png') }}";
    delbtn = $("<img src='"+imgsrc+"' class='del_button' />").click(function() {
        that = this;
        console.log('deleting'+" ");
        $.ajax({
            type: 'DELETE',
            url: ego_url_prefix+"/"+username+"/profile",
            data: {"key":key,"val":val},
            success: function(json) {
                console.log('got back');
                console.log(json.result);
                $(that).parent().remove();
            },
            dataType: "json"
        });
    });
    
    likeyou = $("<span></span>")
                .addClass("progressbar")
                .html("0 like you");
    
    e = $("<div class='entry'></div>").append(k).append(v).append(likeyou).append(delbtn);
    entries.append(e);
}

function insert_buysell_entry(entries, username, action, index, itemid, price, threshold, timeout, matched, lumped)
{
    new_entry = (index=="") ? "_" : "";
    sel1 = (action=="buy") ? "SELECTED" : "";
    sel2 = (action=="sell") ? "SELECTED" : "";
    sel3 = (index=="bestbuy") ? "SELECTED" : "";
    sel4 = (index=="amazon") ? "SELECTED" : "";
    sel5 = (index=="digikey") ? "SELECTED" : "";
    sel6 = (index=="sparkfun") ? "SELECTED" : "";
    
    e = "<div class='entry' id='"+new_entry+"bs_entry_"+index+"_"+itemid+"'>";
    e+= "  <select id='"+new_entry+"bs_action' name='action'>";
    e+= "  <option "+sel1+" value='buy'>buy</option>";
    e+= "  <option "+sel2+" value='sell'>sell</option>";
    e+= "  </select>";
    
    e+= "  <select id='"+new_entry+"bs_index' name='index'>";
    e+= "  <option "+sel3+" value='bestbuy'>BestBuy</option>";
    e+= "  <option "+sel4+" value='amazon'>Amazon</option>";
    e+= "  <option "+sel5+" value='digikey'>Digikey</option>";
    e+= "  <option "+sel6+" value='sparkfun'>Sparkfun</option>";
    e+= "  </select>";
    
    e+= "  <input type='text' style='width:50px' id='"+new_entry+"bs_itemid' name='itemid' value='"+itemid+"' />";
    e+= "  $<input style='width:35px' type='text' id='"+new_entry+"bs_price' name='price' value='"+price+"' />";
    e+= "  $<input style='width:35px' type='text' id='"+new_entry+"bs_threshold' name='threshold' value='"+threshold+"' />";
    e+= "  <input style='width:25px' type='text' id='"+new_entry+"bs_timeout' name='timeout' value='"+timeout+"' />hrs";
    e+= "</div>";
    imgsrc = "{{ static_url('images/other/close-button-red.png') }}";
    delbtn = $("<img src='"+imgsrc+"' class='del_button' />").click(function() {
        console.log('deleting'+" ");
        $.ajax({
            type: 'DELETE',
            url: ego_url_prefix+"/"+username+"/buysell",
            data: {"index":index,"itemid":itemid},
            success: function(json) {
                console.log('delete got back');
                console.log(json.result);
                $("#bs_entry_"+index+"_"+itemid).remove();
            },
            dataType: "json"
        });
    });
    
    matchedtxt = "no agents matched :("
    color = "gray";
    if (matched.length > 0) {
        matchedtxt = matched.length + " agents matched";
        color = "green";
    }
    
    matchedbar = $("<span></span>")
                        .attr("id","id")
                        .addClass("progressbar")
                        .html(matchedtxt)
                        .css("background-color",color);
    
    
    lumpedtxt = "no agents like you"
    color = "gray";
    if (lumped.length > 0) {
        lumpedtxt = lumped.length + " agents like you";
        color = "green";
    }
    
    lumpedbar = $("<span></span>")
                        .attr("id","id")
                        .addClass("progressbar")
                        .html(lumpedtxt)
                        .css("background-color",color);
                        
    
    entry = $(e).append(delbtn).append(matchedbar).append(lumpedbar);
    entries.append(entry);
}

popup = {};
popup.close = function(){
    $("#popup").fadeOut();
    $("#cover").hide();
};

popup.show = function(content, okclb, focuson)
{
    that = this;
    $("#cover").show();
    ok_btn = $("<button>OK</button>").click(okclb);
    cancel_btn = $("<button>Cancel</button>").click(that.close);
    controls = $("<div style='text-align:left'></div>").addClass("controls");
    
    controls.append(cancel_btn);
    controls.append(ok_btn);
    content.append(controls);
    
    $("#popup").html(content);
    pad = 10;
    ww = $(window).width();
    pw = content.width()+2*pad;
    wh = $(window).height();
    ph = content.height()+2*pad;
    $("#popup").width(content.width()).css("left",(ww-pw)/2).css("top",(wh-ph)/2).show();
    
    $(document).keyup(function(e) {
        if (e.keyCode == 27) { that.close(); }
    });
    
    focuson.focus();
}

manager.profile = function(capbox, json)
{
    prof_entries = $("<div></div>").attr("id","prof_entries");
    controls = $("<div></div>").addClass("controls");
    add_entry = $("<button></button>").attr("id","add_entry").html("add more");
    
    
    add_entry.click(function() {
        lookupkv = function(event){
            if ( event.which == 13 ) {
                event.preventDefault();
                
                if ( $(this).attr("name") == "key" ) {
                    v.focus();
                } else {
                    post_prof_entry();
                    popup.close();
                }
            } else {
                newval = $(this).val() + String.fromCharCode(event.which);
                
                $.getJSON(discov_url+"/profile", {key:k.val(), val:v.val()}, function(json){
                    console.log(newval);
                    console.log(json);
                });
            }
        };
        
        k = $("<input type='text' class='prof_entry' name='key' value='' />").keypress(lookupkv).focus();
        v = $("<input type='text' class='prof_entry' name='val' value='' />").keypress(lookupkv);
        
        post_prof_entry = function() {      
            key = k.val();
            val = v.val();
            console.log("sending profile "+key+" "+val+"-");
                
            $.post(ego_url_prefix+"/"+json.user+"/profile", {"key":key,"val":val}, function(json){
                console.log('got back');
                console.log(json);
            }, "json");
        };
        
        likeyou = $("<span></span>")
                    .addClass("progressbar")
                    .html("0 like you");
        
        html = $("<div></div>")
                .addClass("entry")
                .append(k)
                .append(v)
                .append(likeyou);
        
        popup.show(html, post_prof_entry, k);
    });
    
    controls.append(add_entry);
    
    for (k in json.data)
        if (invalid_profile_items[k] != 1) {
            v = json.data[k];
            
            if (typeof v == "string") {
                console.log(v, v.length);
                insert_profile_entry(prof_entries, json.user, k, v, "");
            } else {
                for (i in v) {
                    console.log(v, v.length);
                    insert_profile_entry(prof_entries, json.user, k, v[i], "");
                }
            }
        }

    capbox.append(prof_entries).append(controls);
}

manager.location = function(capbox, json) 
{
    var gauge = $("<span style='margin-left:20px;'>50</span>");
    var o1 = $("<input type='checkbox' />");
    var o2 = $("<input type='range' value='50' min='20' max='500' step='1' id='location_slider' />").change(function() {
        range = $(this).val();
        gauge.html(range);
        $.getJSON("http://ypod.media.mit.edu:22222/location_range", {"range":range}, function(json){
            console.log(json);
        });
    });
    
    options = $("<div>range: </div>").append(o2).append(gauge).append("&nbsp;yards.");
//     options.append("post location");
//     console.log("sending location "+json.user);
//     btn = $("<button type='submit' id='save'>Save</button>");
//     btn.click(function() {
//         console.log(o1.attr("checked"));
//         $.post(ego_url_prefix+"/"+json.user+"/location", {"key":"post_to_satellite","val":o1.attr("checked")}, function(json){
//             console.log('got back');
//             console.log(json);
//         });
//     });
    
    controls = $("<div></div>").addClass("controls");
    controls.append(options);
//     contorols.append(btn);
    capbox.append(controls);
}

manager.buysell = function(capbox, json) 
{
    title = "<span style='padding-left:5px;'>Action</span>";
    title+= "<span style='padding-left:15px'>Index</span>";
    title+= "<span style='padding-left:45px'>ItemID</span>";
    title+= "<span style='padding-left:20px'>Price</span>";
    title+= "<span style='padding-left:20px'>Thres</span>";
    title+= "<span style='padding-left:10px'>Timeout</span>";
    title = $(title);
    capbox.append(title).addClass("wide_capability");
    
    entries = $("<div></div>").attr("id","entries");
    controls = $("<div></div>").addClass("controls");
    add_entry = $("<button></button>").attr("id","add_entry").addClass("button").html("add more");
    add_entry.click(function() { 
        insert_buysell_entry(entries, json.user, "", "", "", "", "", 600, 0, 0); 
    });
    btn = $("<button type='submit' id='save'>Save</button>");
    btn.click(function() {
        action = $("#_bs_action").val();
        index = $("#_bs_index").val();
        itemid = $("#_bs_itemid").val();
        price = $("#_bs_price").val();
        threshold = $("#_bs_threshold").val();
        timeout = $("#_bs_timeout").val();
        
        if (action == undefined || itemid=="" || price=="" || threshold=="")
            return;
        
        data = {"action":action, "index":index, "itemid":itemid, "price":price, "threshold":threshold, "timeout":timeout};
        console.log(data);
        
        $.post(ego_url_prefix+"/"+json.user+"/buysell", data, function(json){
            console.log('got back');
            console.log(json);
            
            $("#_bs_action").attr("id","bs_action");
            $("#_bs_index").attr("id","bs_index");
            $("#_bs_itemid").attr("id","bs_itemid");
            $("#_bs_price").attr("id","bs_price");
            $("#_bs_threshold").attr("id","bs_threshold");
            $("#_bs_timeout").attr("id","bs_timeout");
            $("#_bs_entry__").attr("id","bs_entry_"+index+"_"+itemid);
        });
    });
    controls.append(add_entry).append(btn);
    
    console.log(json.data);
    for (k in json.data) {
        action = json.data[k].action;
        index = json.data[k].index;
        itemid = json.data[k].itemid;
        price = json.data[k].price;
        threshold = json.data[k].threshold;
        timeout = json.data[k].timeout;
        matched = json.data[k].matched;
        lumped = json.data[k].lumped;
        tstamp = json.data[k].tstamp;

        dt = (json.current_time - json.data[k].tstamp) * 1;
        timeout = (dt < timeout) ? timeout - dt : 0;
        
        insert_buysell_entry(entries, json.user, action, index, itemid, price, threshold, timeout, matched, lumped);
    }
    capbox.append(entries).append(controls);
}

manager.friends = function(capbox, json) 
{
    for (i in json.data)
        capbox.append(i+":"+json.data[i]+"<br>");
}

manager.iptracker = function(capbox, json) 
{
    for (i in json.data)
        capbox.append(i+":"+json.data[i]+"<br>");
}

manager.tags = function(capbox, json) 
{
    for (i in json.data)
        capbox.append(i+":"+json.data[i]+"<br>");
}

manager.like = function(capbox, json) 
{
    for (i in json.data)
        capbox.append(i+":"+json.data[i]+"<br>");
}

manager.dating = function(capbox, json) 
{
    for (i in json.data)
        capbox.append(i+":"+json.data[i]+"<br>");
}

manager.charms = function(capbox, json) 
{
    for (i in json.data)
        capbox.append(i+":"+json.data[i]+"<br>");
}

var get_cap_data = function(capname, cap_url)
{
    var capbox = $("<div></div>")
                    .addClass("capability")
                    .attr("id","capbox_"+capname)
                    .append("<h2>"+capname+"</h2>")
                    .hide();
    $.getJSON(cap_url, function(json){
        callfunc.call(manager, capname, capbox, json);
    });
    
    $("#capabilities").append(capbox);
    
    if (valid_caps[vcap] == 1)
        capbox.show()
}

$(document).ready(function()
{
    console.log(path);
    
    if (path.length == 3 && path[2]) {
        capname = path[2];
        var capbox = $("<div></div>")
//                         .addClass("capability")
                        .attr("id","capbox_"+capname)
                        .append("<h2>"+capname+"</h2>");
        $.getJSON(agent_url+"/"+capname, function(json){
            callfunc.call(manager, capname, capbox, json);
        });
        
        backbox = $("<div><a href='./'>&larr; back to applications</a></div>").addClass("backbtn");
        $("#capabilities").append(backbox);
        $("#capabilities").append(capbox);
        return;
    }
    
    for (capab in valid_caps) {
        capbox = $("<div></div>")
                .attr("id",capab)
                .addClass("capability mgr button")
                .append("<h2>"+capab+"</h2>")
                .click(function(){
//                     console.log("agent_url:"+agent_url);
//                     console.log("ego_url_prefix:"+ego_url_prefix);
//                     console.log("agent_id:"+agent_id);
//                     console.log("this.id:"+this.id);
                    window.location.href = "/manage2/"+agent_id+"/"+this.id;
                });
        $("#capabilities").append(capbox);
    }
    
    $.getJSON(agent_url, function(json){
        for (vcap in valid_caps) {
            for (i in json.capabilities) {
                cap = json.capabilities[i];
//                 if (cap == vcap)
//                     get_cap_data(cap, agent_url+"/"+cap);
            }
        }
    });
});

</script>
{% end %}
{% block body %}
<div id="capabilities"></div>
{% end %}




