{% extends "base.html" %}

{% block body %}
<style>
.date { font-size:14px; color: gray; padding-bottom:8px; }
h2 { padding-top: 10px; }
</style>

<h2>Ubiquitous computing scenarios with OpenFrameworks</h2>
<div class="date">submitted 23 Feb 2011</div>
<p>We are creating a table-top model to simulate ubiquitous computing scenarios involving hundreds of devices that move, discover and communicate with each other. Different scearios involving devices and people discovering and communicating with each are projected on a table and the user can interact with them. The scenarios include location sharing, buying/selling products, dating and others. Scenario settings include driving in traffic, shopping in a mall, walking on a crowded street, etc. Take your pick!</p>
<p>You will be exposed to concept visualization and fast prototyping in openFrameworks.</p>
<p>Some C programming experience necessary, extra points for previous experience in OpenFrameworks/Processing.</p>


<h2>Table-top object recognition</h2>
<div class="date">submitted 8 Feb 2011</div>
<p>We are creating a table-top model to simulate ubiquitous computing scenarios involving hundreds of devices that move, discover and communicate with each other. An overhead projector is used to display the environment and a camera detects the identity and relative position of physical objects that represent some of the devices. Your task would be to explore and implement object detection techniques and/or design models suitable for different scenarios (eg roads and buildings at city-scale, rooms at building-scale etc).</p>
<p>You will be working with openCV and openFrameworks, both based on C++.</p>
<p>No image recognition experience necessary.</p>
<p>Some C programming experience necessary.</p>

{% end %}
